<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJobInfoLabel" jhiTranslate="tickApp.jobInfo.home.createOrEditLabel">Create or edit a Job Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!jobInfo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="jobInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.jobInfo.finished" for="field_finished">Finished</label>
            <input type="number" class="form-control" name="finished" id="field_finished"
                [(ngModel)]="jobInfo.finished"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.jobInfo.canceled" for="field_canceled">Canceled</label>
            <input type="number" class="form-control" name="canceled" id="field_canceled"
                [(ngModel)]="jobInfo.canceled"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.jobInfo.unfinished" for="field_unfinished">Unfinished</label>
            <input type="number" class="form-control" name="unfinished" id="field_unfinished"
                [(ngModel)]="jobInfo.unfinished"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.jobInfo.pending" for="field_pending">Pending</label>
            <input type="number" class="form-control" name="pending" id="field_pending"
                [(ngModel)]="jobInfo.pending"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.jobInfo.totalEarnt" for="field_totalEarnt">Total Earnt</label>
            <input type="number" class="form-control" name="totalEarnt" id="field_totalEarnt"
                [(ngModel)]="jobInfo.totalEarnt"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
