<div>
    <h2>
        <span jhiTranslate="tickApp.jobInfo.home.title">Job Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-job-info-tick" [routerLink]="['/', { outlets: { popup: ['job-info-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.jobInfo.home.createLabel">
            Create new Job Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jobInfos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="finished"><span jhiTranslate="tickApp.jobInfo.finished">Finished</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="canceled"><span jhiTranslate="tickApp.jobInfo.canceled">Canceled</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="unfinished"><span jhiTranslate="tickApp.jobInfo.unfinished">Unfinished</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pending"><span jhiTranslate="tickApp.jobInfo.pending">Pending</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totalEarnt"><span jhiTranslate="tickApp.jobInfo.totalEarnt">Total Earnt</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobInfo of jobInfos ;trackBy: trackId">
                <td><a [routerLink]="['../job-info-tick', jobInfo.id ]">{{jobInfo.id}}</a></td>
                <td>{{jobInfo.finished}}</td>
                <td>{{jobInfo.canceled}}</td>
                <td>{{jobInfo.unfinished}}</td>
                <td>{{jobInfo.pending}}</td>
                <td>{{jobInfo.totalEarnt}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../job-info-tick', jobInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-info-tick/'+ jobInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-info-tick/'+ jobInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="jobInfos && jobInfos.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
