
<div *ngIf="jobInfo">
    <h2><span jhiTranslate="tickApp.jobInfo.detail.title">Job Info</span> {{jobInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.jobInfo.finished">Finished</span></dt>
        <dd>
            <span>{{jobInfo.finished}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.jobInfo.canceled">Canceled</span></dt>
        <dd>
            <span>{{jobInfo.canceled}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.jobInfo.unfinished">Unfinished</span></dt>
        <dd>
            <span>{{jobInfo.unfinished}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.jobInfo.pending">Pending</span></dt>
        <dd>
            <span>{{jobInfo.pending}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.jobInfo.totalEarnt">Total Earnt</span></dt>
        <dd>
            <span>{{jobInfo.totalEarnt}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'job-info-tick/'+ jobInfo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
