
<div *ngIf="fee">
    <h2><span jhiTranslate="tickApp.fee.detail.title">Fee</span> {{fee.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.fee.fee">Fee</span></dt>
        <dd>
            <span>{{fee.fee}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.fee.feeType">Fee Type</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.FeeType.' + fee.feeType}}">{{fee.feeType}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'fee-tick/'+ fee.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
