<div>
    <h2>
        <span jhiTranslate="tickApp.fee.home.title">Fees</span>
        <button class="btn btn-primary float-right jh-create-entity create-fee-tick" [routerLink]="['/', { outlets: { popup: ['fee-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.fee.home.createLabel">
            Create new Fee
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fees">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fee"><span jhiTranslate="tickApp.fee.fee">Fee</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="feeType"><span jhiTranslate="tickApp.fee.feeType">Fee Type</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fee of fees ;trackBy: trackId">
                <td><a [routerLink]="['../fee-tick', fee.id ]">{{fee.id}}</a></td>
                <td>{{fee.fee}}</td>
                <td jhiTranslate="{{'tickApp.FeeType.' + fee.feeType}}">{{fee.feeType}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../fee-tick', fee.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fee-tick/'+ fee.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fee-tick/'+ fee.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="fees && fees.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
