<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFeeLabel" jhiTranslate="tickApp.fee.home.createOrEditLabel">Create or edit a Fee</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!fee.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="fee.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.fee.fee" for="field_fee">Fee</label>
            <input type="number" class="form-control" name="fee" id="field_fee"
                [(ngModel)]="fee.fee"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.fee.feeType" for="field_feeType">Fee Type</label>
            <select class="form-control" name="feeType" [(ngModel)]="fee.feeType" id="field_feeType" >
                <option value="PERCENTAGE" jhiTranslate="tickApp.FeeType.PERCENTAGE">PERCENTAGE</option>
                <option value="FIXED" jhiTranslate="tickApp.FeeType.FIXED">FIXED</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
