
<div *ngIf="eventInfo">
    <h2><span jhiTranslate="tickApp.eventInfo.detail.title">Event Info</span> {{eventInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.eventInfo.sysUser">Sys User</span></dt>
        <dd>
            <div *ngIf="eventInfo.sysUserId">
                <a [routerLink]="['/sys-user-tick', eventInfo.sysUserId]">{{eventInfo.sysUserId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.eventInfo.jobTemplate">Job Template</span></dt>
        <dd>
            <div *ngIf="eventInfo.jobTemplateId">
                <a [routerLink]="['/job-template-tick', eventInfo.jobTemplateId]">{{eventInfo.jobTemplateId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'event-info-tick/'+ eventInfo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
