<div>
    <h2>
        <span jhiTranslate="tickApp.eventInfo.home.title">Event Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-event-info-tick" [routerLink]="['/', { outlets: { popup: ['event-info-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.eventInfo.home.createLabel">
            Create new Event Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="eventInfos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sysUserId"><span jhiTranslate="tickApp.eventInfo.sysUser">Sys User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jobTemplateId"><span jhiTranslate="tickApp.eventInfo.jobTemplate">Job Template</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let eventInfo of eventInfos ;trackBy: trackId">
                <td><a [routerLink]="['../event-info-tick', eventInfo.id ]">{{eventInfo.id}}</a></td>
                <td>
                    <div *ngIf="eventInfo.sysUserId">
                        <a [routerLink]="['../sys-user-tick', eventInfo.sysUserId  ]" >{{eventInfo.sysUserId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="eventInfo.jobTemplateId">
                        <a [routerLink]="['../job-template-tick', eventInfo.jobTemplateId  ]" >{{eventInfo.jobTemplateId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../event-info-tick', eventInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-info-tick/'+ eventInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-info-tick/'+ eventInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="eventInfos && eventInfos.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
