<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEventInfoLabel" jhiTranslate="tickApp.eventInfo.home.createOrEditLabel">Create or edit a Event Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!eventInfo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="eventInfo.id" readonly />
        </div>

        <div class="form-group">
            <label jhiTranslate="tickApp.eventInfo.sysUser" for="field_sysUser">Sys User</label>
            <select class="form-control" id="field_sysUser" name="sysUser" [(ngModel)]="eventInfo.sysUserId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sysUserOption.id" *ngFor="let sysUserOption of sysusers; trackBy: trackSysUserById">{{sysUserOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.eventInfo.jobTemplate" for="field_jobTemplate">Job Template</label>
            <select class="form-control" id="field_jobTemplate" name="jobTemplate" [(ngModel)]="eventInfo.jobTemplateId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jobTemplateOption.id" *ngFor="let jobTemplateOption of jobtemplates; trackBy: trackJobTemplateById">{{jobTemplateOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
