
<div *ngIf="business">
    <h2><span jhiTranslate="tickApp.business.detail.title">Business</span> {{business.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.business.businessName">Business Name</span></dt>
        <dd>
            <span>{{business.businessName}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.business.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.BusinessType.' + business.type}}">{{business.type}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.business.description">Description</span></dt>
        <dd>
            <span>{{business.description}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.business.dateOperate">Date Operate</span></dt>
        <dd>
            <span>{{business.dateOperate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.business.totalJobDone">Total Job Done</span></dt>
        <dd>
            <span>{{business.totalJobDone}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.business.website">Website</span></dt>
        <dd>
            <span>{{business.website}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.business.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.BusinessStatus.' + business.status}}">{{business.status}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.business.user">User</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.UserRequirement.' + business.user}}">{{business.user}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.business.note">Note</span></dt>
        <dd>
            <span>{{business.note}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.business.service">Service</span></dt>
        <dd>
            <span *ngFor="let service of business.services; let last = last">
                <a [routerLink]="['/service-tick', service?.id ]">{{service.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="tickApp.business.location">Location</span></dt>
        <dd>
            <span *ngFor="let location of business.locations; let last = last">
                <a [routerLink]="['/location-tick', location?.id ]">{{location.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="tickApp.business.sysUser">Sys User</span></dt>
        <dd>
            <div *ngIf="business.sysUserId">
                <a [routerLink]="['/sys-user-tick', business.sysUserId]">{{business.sysUserId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'business-tick/'+ business.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
