<div>
    <h2>
        <span jhiTranslate="tickApp.business.home.title">Businesses</span>
        <button class="btn btn-primary float-right jh-create-entity create-business-tick" [routerLink]="['/', { outlets: { popup: ['business-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.business.home.createLabel">
            Create new Business
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="businesses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="businessName"><span jhiTranslate="tickApp.business.businessName">Business Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="tickApp.business.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="tickApp.business.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateOperate"><span jhiTranslate="tickApp.business.dateOperate">Date Operate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totalJobDone"><span jhiTranslate="tickApp.business.totalJobDone">Total Job Done</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="website"><span jhiTranslate="tickApp.business.website">Website</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="tickApp.business.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user"><span jhiTranslate="tickApp.business.user">User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="note"><span jhiTranslate="tickApp.business.note">Note</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sysUserId"><span jhiTranslate="tickApp.business.sysUser">Sys User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let business of businesses ;trackBy: trackId">
                <td><a [routerLink]="['../business-tick', business.id ]">{{business.id}}</a></td>
                <td>{{business.businessName}}</td>
                <td jhiTranslate="{{'tickApp.BusinessType.' + business.type}}">{{business.type}}</td>
                <td>{{business.description}}</td>
                <td>{{business.dateOperate | date:'mediumDate'}}</td>
                <td>{{business.totalJobDone}}</td>
                <td>{{business.website}}</td>
                <td jhiTranslate="{{'tickApp.BusinessStatus.' + business.status}}">{{business.status}}</td>
                <td jhiTranslate="{{'tickApp.UserRequirement.' + business.user}}">{{business.user}}</td>
                <td>{{business.note}}</td>
                <td>
                    <div *ngIf="business.sysUserId">
                        <a [routerLink]="['../sys-user-tick', business.sysUserId  ]" >{{business.sysUserId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../business-tick', business.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'business-tick/'+ business.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'business-tick/'+ business.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="businesses && businesses.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
