<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBusinessLabel" jhiTranslate="tickApp.business.home.createOrEditLabel">Create or edit a Business</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!business.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="business.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.business.businessName" for="field_businessName">Business Name</label>
            <input type="text" class="form-control" name="businessName" id="field_businessName"
                [(ngModel)]="business.businessName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.business.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="business.type" id="field_type" >
                <option value="SOLE_OWNERSHIP" jhiTranslate="tickApp.BusinessType.SOLE_OWNERSHIP">SOLE_OWNERSHIP</option>
                <option value="JOINT_STOCK" jhiTranslate="tickApp.BusinessType.JOINT_STOCK">JOINT_STOCK</option>
                <option value="PRIVATED_LIMITED" jhiTranslate="tickApp.BusinessType.PRIVATED_LIMITED">PRIVATED_LIMITED</option>
                <option value="FOREIGN_OWNED" jhiTranslate="tickApp.BusinessType.FOREIGN_OWNED">FOREIGN_OWNED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.business.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="business.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.business.dateOperate" for="field_dateOperate">Date Operate</label>
            <div class="input-group">
                <input id="field_dateOperate" type="text" class="form-control" name="dateOperate" ngbDatepicker  #dateOperateDp="ngbDatepicker" [(ngModel)]="business.dateOperate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateOperateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.business.totalJobDone" for="field_totalJobDone">Total Job Done</label>
            <input type="number" class="form-control" name="totalJobDone" id="field_totalJobDone"
                [(ngModel)]="business.totalJobDone"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.business.website" for="field_website">Website</label>
            <input type="text" class="form-control" name="website" id="field_website"
                [(ngModel)]="business.website"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.business.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="business.status" id="field_status" >
                <option value="VERIFIED" jhiTranslate="tickApp.BusinessStatus.VERIFIED">VERIFIED</option>
                <option value="APPROVED" jhiTranslate="tickApp.BusinessStatus.APPROVED">APPROVED</option>
                <option value="PENDING" jhiTranslate="tickApp.BusinessStatus.PENDING">PENDING</option>
                <option value="BLOCKED" jhiTranslate="tickApp.BusinessStatus.BLOCKED">BLOCKED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.business.user" for="field_user">User</label>
            <select class="form-control" name="user" [(ngModel)]="business.user" id="field_user" >
                <option value="ALL" jhiTranslate="tickApp.UserRequirement.ALL">ALL</option>
                <option value="OFFLINE" jhiTranslate="tickApp.UserRequirement.OFFLINE">OFFLINE</option>
                <option value="ONLINE" jhiTranslate="tickApp.UserRequirement.ONLINE">ONLINE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.business.note" for="field_note">Note</label>
            <input type="text" class="form-control" name="note" id="field_note"
                [(ngModel)]="business.note"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="tickApp.business.service" for="field_service">Service</label>
            <select class="form-control" id="field_service" multiple name="service" [(ngModel)]="business.services">
                <option [ngValue]="getSelected(business.services, serviceOption)" *ngFor="let serviceOption of services; trackBy: trackServiceById">{{serviceOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.business.location" for="field_location">Location</label>
            <select class="form-control" id="field_location" multiple name="location" [(ngModel)]="business.locations">
                <option [ngValue]="getSelected(business.locations, locationOption)" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.business.sysUser" for="field_sysUser">Sys User</label>
            <select class="form-control" id="field_sysUser" name="sysUser" [(ngModel)]="business.sysUserId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sysUserOption.id" *ngFor="let sysUserOption of sysusers; trackBy: trackSysUserById">{{sysUserOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
