
<div *ngIf="category">
    <h2><span jhiTranslate="tickApp.category.detail.title">Category</span> {{category.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.category.name">Name</span></dt>
        <dd>
            <span>{{category.name}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.category.desc">Desc</span></dt>
        <dd>
            <span>{{category.desc}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.category.servicesCount">Services Count</span></dt>
        <dd>
            <span>{{category.servicesCount}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.category.providerCount">Provider Count</span></dt>
        <dd>
            <span>{{category.providerCount}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.category.restricted">Restricted</span></dt>
        <dd>
            <span>{{category.restricted}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.category.category">Category</span></dt>
        <dd>
            <div *ngIf="category.categoryId">
                <a [routerLink]="['/category-tick', category.categoryId]">{{category.categoryId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.category.fee">Fee</span></dt>
        <dd>
            <div *ngIf="category.feeId">
                <a [routerLink]="['/fee-tick', category.feeId]">{{category.feeId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.category.service">Service</span></dt>
        <dd>
            <div *ngIf="category.serviceId">
                <a [routerLink]="['/service-tick', category.serviceId]">{{category.serviceId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'category-tick/'+ category.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
