<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCategoryLabel" jhiTranslate="tickApp.category.home.createOrEditLabel">Create or edit a Category</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!category.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="category.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.category.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="category.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.category.desc" for="field_desc">Desc</label>
            <input type="text" class="form-control" name="desc" id="field_desc"
                [(ngModel)]="category.desc"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.category.servicesCount" for="field_servicesCount">Services Count</label>
            <input type="number" class="form-control" name="servicesCount" id="field_servicesCount"
                [(ngModel)]="category.servicesCount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.category.providerCount" for="field_providerCount">Provider Count</label>
            <input type="number" class="form-control" name="providerCount" id="field_providerCount"
                [(ngModel)]="category.providerCount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.category.restricted" for="field_restricted">Restricted</label>
            <input type="checkbox" class="form-control" name="restricted" id="field_restricted"
                [(ngModel)]="category.restricted"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="tickApp.category.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" [(ngModel)]="category.categoryId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="categoryOption.id" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.category.fee" for="field_fee">Fee</label>
            <select class="form-control" id="field_fee" name="fee" [(ngModel)]="category.feeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="feeOption.id" *ngFor="let feeOption of fees; trackBy: trackFeeById">{{feeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.category.service" for="field_service">Service</label>
            <select class="form-control" id="field_service" name="service" [(ngModel)]="category.serviceId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="serviceOption.id" *ngFor="let serviceOption of services; trackBy: trackServiceById">{{serviceOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
