<div>
    <h2>
        <span jhiTranslate="tickApp.category.home.title">Categories</span>
        <button class="btn btn-primary float-right jh-create-entity create-category-tick" [routerLink]="['/', { outlets: { popup: ['category-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.category.home.createLabel">
            Create new Category
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="categories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="tickApp.category.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="desc"><span jhiTranslate="tickApp.category.desc">Desc</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="servicesCount"><span jhiTranslate="tickApp.category.servicesCount">Services Count</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="providerCount"><span jhiTranslate="tickApp.category.providerCount">Provider Count</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="restricted"><span jhiTranslate="tickApp.category.restricted">Restricted</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="categoryId"><span jhiTranslate="tickApp.category.category">Category</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="feeId"><span jhiTranslate="tickApp.category.fee">Fee</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="serviceId"><span jhiTranslate="tickApp.category.service">Service</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let category of categories ;trackBy: trackId">
                <td><a [routerLink]="['../category-tick', category.id ]">{{category.id}}</a></td>
                <td>{{category.name}}</td>
                <td>{{category.desc}}</td>
                <td>{{category.servicesCount}}</td>
                <td>{{category.providerCount}}</td>
                <td>{{category.restricted}}</td>
                <td>
                    <div *ngIf="category.categoryId">
                        <a [routerLink]="['../category-tick', category.categoryId  ]" >{{category.categoryId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="category.feeId">
                        <a [routerLink]="['../fee-tick', category.feeId  ]" >{{category.feeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="category.serviceId">
                        <a [routerLink]="['../service-tick', category.serviceId  ]" >{{category.serviceId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../category-tick', category.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'category-tick/'+ category.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'category-tick/'+ category.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="categories && categories.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
