<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLocationLabel" jhiTranslate="tickApp.location.home.createOrEditLabel">Create or edit a Location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!location.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="location.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.location.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="location.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.location.abbre" for="field_abbre">Abbre</label>
            <input type="text" class="form-control" name="abbre" id="field_abbre"
                [(ngModel)]="location.abbre"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.location.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="location.city"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.location.country" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                [(ngModel)]="location.country"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.location.longitude" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                [(ngModel)]="location.longitude"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.location.lagitude" for="field_lagitude">Lagitude</label>
            <input type="number" class="form-control" name="lagitude" id="field_lagitude"
                [(ngModel)]="location.lagitude"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="tickApp.location.jobTemplate" for="field_jobTemplate">Job Template</label>
            <select class="form-control" id="field_jobTemplate" name="jobTemplate" [(ngModel)]="location.jobTemplateId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jobTemplateOption.id" *ngFor="let jobTemplateOption of jobtemplates; trackBy: trackJobTemplateById">{{jobTemplateOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
