
<div *ngIf="location">
    <h2><span jhiTranslate="tickApp.location.detail.title">Location</span> {{location.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.location.name">Name</span></dt>
        <dd>
            <span>{{location.name}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.location.abbre">Abbre</span></dt>
        <dd>
            <span>{{location.abbre}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.location.city">City</span></dt>
        <dd>
            <span>{{location.city}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.location.country">Country</span></dt>
        <dd>
            <span>{{location.country}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.location.longitude">Longitude</span></dt>
        <dd>
            <span>{{location.longitude}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.location.lagitude">Lagitude</span></dt>
        <dd>
            <span>{{location.lagitude}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.location.jobTemplate">Job Template</span></dt>
        <dd>
            <div *ngIf="location.jobTemplateId">
                <a [routerLink]="['/job-template-tick', location.jobTemplateId]">{{location.jobTemplateId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'location-tick/'+ location.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
