<div>
    <h2>
        <span jhiTranslate="tickApp.location.home.title">Locations</span>
        <button class="btn btn-primary float-right jh-create-entity create-location-tick" [routerLink]="['/', { outlets: { popup: ['location-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.location.home.createLabel">
            Create new Location
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="locations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="tickApp.location.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="abbre"><span jhiTranslate="tickApp.location.abbre">Abbre</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="city"><span jhiTranslate="tickApp.location.city">City</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="country"><span jhiTranslate="tickApp.location.country">Country</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="longitude"><span jhiTranslate="tickApp.location.longitude">Longitude</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lagitude"><span jhiTranslate="tickApp.location.lagitude">Lagitude</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jobTemplateId"><span jhiTranslate="tickApp.location.jobTemplate">Job Template</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let location of locations ;trackBy: trackId">
                <td><a [routerLink]="['../location-tick', location.id ]">{{location.id}}</a></td>
                <td>{{location.name}}</td>
                <td>{{location.abbre}}</td>
                <td>{{location.city}}</td>
                <td>{{location.country}}</td>
                <td>{{location.longitude}}</td>
                <td>{{location.lagitude}}</td>
                <td>
                    <div *ngIf="location.jobTemplateId">
                        <a [routerLink]="['../job-template-tick', location.jobTemplateId  ]" >{{location.jobTemplateId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../location-tick', location.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'location-tick/'+ location.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'location-tick/'+ location.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="locations && locations.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
