<div>
    <h2>
        <span jhiTranslate="tickApp.event.home.title">Events</span>
        <button class="btn btn-primary float-right jh-create-entity create-event-tick" [routerLink]="['/', { outlets: { popup: ['event-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.event.home.createLabel">
            Create new Event
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="events">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="tickApp.event.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="category"><span jhiTranslate="tickApp.event.category">Category</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="tickApp.event.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="desc"><span jhiTranslate="tickApp.event.desc">Desc</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="amount"><span jhiTranslate="tickApp.event.amount">Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sysUserId"><span jhiTranslate="tickApp.event.sysUser">Sys User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="eventInfoId"><span jhiTranslate="tickApp.event.eventInfo">Event Info</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of events ;trackBy: trackId">
                <td><a [routerLink]="['../event-tick', event.id ]">{{event.id}}</a></td>
                <td jhiTranslate="{{'tickApp.EventType.' + event.type}}">{{event.type}}</td>
                <td jhiTranslate="{{'tickApp.EventCategory.' + event.category}}">{{event.category}}</td>
                <td>{{event.date | date:'mediumDate'}}</td>
                <td>{{event.desc}}</td>
                <td>{{event.amount}}</td>
                <td>
                    <div *ngIf="event.sysUserId">
                        <a [routerLink]="['../sys-user-tick', event.sysUserId  ]" >{{event.sysUserId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="event.eventInfoId">
                        <a [routerLink]="['../event-info-tick', event.eventInfoId  ]" >{{event.eventInfoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../event-tick', event.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-tick/'+ event.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-tick/'+ event.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="events && events.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
