
<div *ngIf="event">
    <h2><span jhiTranslate="tickApp.event.detail.title">Event</span> {{event.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.event.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.EventType.' + event.type}}">{{event.type}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.event.category">Category</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.EventCategory.' + event.category}}">{{event.category}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.event.date">Date</span></dt>
        <dd>
            <span>{{event.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.event.desc">Desc</span></dt>
        <dd>
            <span>{{event.desc}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.event.amount">Amount</span></dt>
        <dd>
            <span>{{event.amount}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.event.sysUser">Sys User</span></dt>
        <dd>
            <div *ngIf="event.sysUserId">
                <a [routerLink]="['/sys-user-tick', event.sysUserId]">{{event.sysUserId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.event.eventInfo">Event Info</span></dt>
        <dd>
            <div *ngIf="event.eventInfoId">
                <a [routerLink]="['/event-info-tick', event.eventInfoId]">{{event.eventInfoId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'event-tick/'+ event.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
