<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEventLabel" jhiTranslate="tickApp.event.home.createOrEditLabel">Create or edit a Event</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!event.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="event.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.event.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="event.type" id="field_type"  required>
                <option value="BID" jhiTranslate="tickApp.EventType.BID">BID</option>
                <option value="CANCEL" jhiTranslate="tickApp.EventType.CANCEL">CANCEL</option>
                <option value="SEND_MESSAGE" jhiTranslate="tickApp.EventType.SEND_MESSAGE">SEND_MESSAGE</option>
                <option value="CREATE" jhiTranslate="tickApp.EventType.CREATE">CREATE</option>
                <option value="BOOK" jhiTranslate="tickApp.EventType.BOOK">BOOK</option>
                <option value="EDIT_PROFILE" jhiTranslate="tickApp.EventType.EDIT_PROFILE">EDIT_PROFILE</option>
                <option value="WITHRAW_MONEY" jhiTranslate="tickApp.EventType.WITHRAW_MONEY">WITHRAW_MONEY</option>
                <option value="COMPLAIN" jhiTranslate="tickApp.EventType.COMPLAIN">COMPLAIN</option>
                <option value="TOPUP_CREDIT" jhiTranslate="tickApp.EventType.TOPUP_CREDIT">TOPUP_CREDIT</option>
                <option value="PAY" jhiTranslate="tickApp.EventType.PAY">PAY</option>
                <option value="REVIEW" jhiTranslate="tickApp.EventType.REVIEW">REVIEW</option>
                <option value="DEPOSIT" jhiTranslate="tickApp.EventType.DEPOSIT">DEPOSIT</option>
                <option value="MEET" jhiTranslate="tickApp.EventType.MEET">MEET</option>
                <option value="COMPLETE_JOB" jhiTranslate="tickApp.EventType.COMPLETE_JOB">COMPLETE_JOB</option>
                <option value="CONFIRM_JOB_COMPLETE" jhiTranslate="tickApp.EventType.CONFIRM_JOB_COMPLETE">CONFIRM_JOB_COMPLETE</option>
            </select>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.event.category" for="field_category">Category</label>
            <select class="form-control" name="category" [(ngModel)]="event.category" id="field_category"  required>
                <option value="JOB" jhiTranslate="tickApp.EventCategory.JOB">JOB</option>
                <option value="PAYMENT" jhiTranslate="tickApp.EventCategory.PAYMENT">PAYMENT</option>
                <option value="CUSTOMER_SERVICE" jhiTranslate="tickApp.EventCategory.CUSTOMER_SERVICE">CUSTOMER_SERVICE</option>
                <option value="PROFILE" jhiTranslate="tickApp.EventCategory.PROFILE">PROFILE</option>
                <option value="MESSAGE" jhiTranslate="tickApp.EventCategory.MESSAGE">MESSAGE</option>
                <option value="PROMOTION" jhiTranslate="tickApp.EventCategory.PROMOTION">PROMOTION</option>
            </select>
            <div [hidden]="!(editForm.controls.category?.dirty && editForm.controls.category?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.category?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.event.date" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="event.date"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.event.desc" for="field_desc">Desc</label>
            <input type="text" class="form-control" name="desc" id="field_desc"
                [(ngModel)]="event.desc"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.event.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="event.amount"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="tickApp.event.sysUser" for="field_sysUser">Sys User</label>
            <select class="form-control" id="field_sysUser" name="sysUser" [(ngModel)]="event.sysUserId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sysUserOption.id" *ngFor="let sysUserOption of sysusers; trackBy: trackSysUserById">{{sysUserOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.event.eventInfo" for="field_eventInfo">Event Info</label>
            <select class="form-control" id="field_eventInfo" name="eventInfo" [(ngModel)]="event.eventInfoId">
                <option [ngValue]="null"></option>
                <option [ngValue]="eventInfoOption.id" *ngFor="let eventInfoOption of eventinfos; trackBy: trackEventInfoById">{{eventInfoOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
