<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCanceledLabel" jhiTranslate="tickApp.canceled.home.createOrEditLabel">Create or edit a Canceled</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!canceled.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="canceled.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.canceled.cancelDate" for="field_cancelDate">Cancel Date</label>
            <div class="input-group">
                <input id="field_cancelDate" type="text" class="form-control" name="cancelDate" ngbDatepicker  #cancelDateDp="ngbDatepicker" [(ngModel)]="canceled.cancelDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="cancelDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.canceled.reason" for="field_reason">Reason</label>
            <input type="text" class="form-control" name="reason" id="field_reason"
                [(ngModel)]="canceled.reason"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="tickApp.canceled.jobTemplate" for="field_jobTemplate">Job Template</label>
            <select class="form-control" id="field_jobTemplate" name="jobTemplate" [(ngModel)]="canceled.jobTemplateId">
                <option [ngValue]="null"></option>
                <option [ngValue]="jobTemplateOption.id" *ngFor="let jobTemplateOption of jobtemplates; trackBy: trackJobTemplateById">{{jobTemplateOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
