
<div *ngIf="canceled">
    <h2><span jhiTranslate="tickApp.canceled.detail.title">Canceled</span> {{canceled.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.canceled.cancelDate">Cancel Date</span></dt>
        <dd>
            <span>{{canceled.cancelDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.canceled.reason">Reason</span></dt>
        <dd>
            <span>{{canceled.reason}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.canceled.jobTemplate">Job Template</span></dt>
        <dd>
            <div *ngIf="canceled.jobTemplateId">
                <a [routerLink]="['/job-template-tick', canceled.jobTemplateId]">{{canceled.jobTemplateId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'canceled-tick/'+ canceled.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
