<div>
    <h2>
        <span jhiTranslate="tickApp.canceled.home.title">Canceleds</span>
        <button class="btn btn-primary float-right jh-create-entity create-canceled-tick" [routerLink]="['/', { outlets: { popup: ['canceled-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.canceled.home.createLabel">
            Create new Canceled
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="canceleds">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cancelDate"><span jhiTranslate="tickApp.canceled.cancelDate">Cancel Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reason"><span jhiTranslate="tickApp.canceled.reason">Reason</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jobTemplateId"><span jhiTranslate="tickApp.canceled.jobTemplate">Job Template</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let canceled of canceleds ;trackBy: trackId">
                <td><a [routerLink]="['../canceled-tick', canceled.id ]">{{canceled.id}}</a></td>
                <td>{{canceled.cancelDate | date:'mediumDate'}}</td>
                <td>{{canceled.reason}}</td>
                <td>
                    <div *ngIf="canceled.jobTemplateId">
                        <a [routerLink]="['../job-template-tick', canceled.jobTemplateId  ]" >{{canceled.jobTemplateId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../canceled-tick', canceled.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'canceled-tick/'+ canceled.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'canceled-tick/'+ canceled.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="canceleds && canceleds.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
