<div>
    <h2>
        <span jhiTranslate="tickApp.promotion.home.title">Promotions</span>
        <button class="btn btn-primary float-right jh-create-entity create-promotion-tick" [routerLink]="['/', { outlets: { popup: ['promotion-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.promotion.home.createLabel">
            Create new Promotion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="promotions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span jhiTranslate="tickApp.promotion.startDate">Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endDate"><span jhiTranslate="tickApp.promotion.endDate">End Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rate"><span jhiTranslate="tickApp.promotion.rate">Rate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="tickApp.promotion.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="appliedTo"><span jhiTranslate="tickApp.promotion.appliedTo">Applied To</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="tickApp.promotion.description">Description</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let promotion of promotions ;trackBy: trackId">
                <td><a [routerLink]="['../promotion-tick', promotion.id ]">{{promotion.id}}</a></td>
                <td>{{promotion.startDate | date:'mediumDate'}}</td>
                <td>{{promotion.endDate | date:'mediumDate'}}</td>
                <td>{{promotion.rate}}</td>
                <td jhiTranslate="{{'tickApp.PromotionType.' + promotion.type}}">{{promotion.type}}</td>
                <td jhiTranslate="{{'tickApp.UserClass.' + promotion.appliedTo}}">{{promotion.appliedTo}}</td>
                <td>{{promotion.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../promotion-tick', promotion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'promotion-tick/'+ promotion.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'promotion-tick/'+ promotion.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="promotions && promotions.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
