<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPromotionLabel" jhiTranslate="tickApp.promotion.home.createOrEditLabel">Create or edit a Promotion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!promotion.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="promotion.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.promotion.startDate" for="field_startDate">Start Date</label>
            <div class="input-group">
                <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="promotion.startDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.promotion.endDate" for="field_endDate">End Date</label>
            <div class="input-group">
                <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="promotion.endDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="endDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.promotion.rate" for="field_rate">Rate</label>
            <input type="number" class="form-control" name="rate" id="field_rate"
                [(ngModel)]="promotion.rate"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.promotion.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="promotion.type" id="field_type" >
                <option value="FIXED" jhiTranslate="tickApp.PromotionType.FIXED">FIXED</option>
                <option value="PERCENTAGE" jhiTranslate="tickApp.PromotionType.PERCENTAGE">PERCENTAGE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.promotion.appliedTo" for="field_appliedTo">Applied To</label>
            <select class="form-control" name="appliedTo" [(ngModel)]="promotion.appliedTo" id="field_appliedTo" >
                <option value="NEW" jhiTranslate="tickApp.UserClass.NEW">NEW</option>
                <option value="BRONZE" jhiTranslate="tickApp.UserClass.BRONZE">BRONZE</option>
                <option value="SILVER" jhiTranslate="tickApp.UserClass.SILVER">SILVER</option>
                <option value="GOLD" jhiTranslate="tickApp.UserClass.GOLD">GOLD</option>
                <option value="DIAMOND" jhiTranslate="tickApp.UserClass.DIAMOND">DIAMOND</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.promotion.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="promotion.description"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
