
<div *ngIf="promotion">
    <h2><span jhiTranslate="tickApp.promotion.detail.title">Promotion</span> {{promotion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.promotion.startDate">Start Date</span></dt>
        <dd>
            <span>{{promotion.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.promotion.endDate">End Date</span></dt>
        <dd>
            <span>{{promotion.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.promotion.rate">Rate</span></dt>
        <dd>
            <span>{{promotion.rate}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.promotion.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.PromotionType.' + promotion.type}}">{{promotion.type}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.promotion.appliedTo">Applied To</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.UserClass.' + promotion.appliedTo}}">{{promotion.appliedTo}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.promotion.description">Description</span></dt>
        <dd>
            <span>{{promotion.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'promotion-tick/'+ promotion.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
