
<div *ngIf="chatInfo">
    <h2><span jhiTranslate="tickApp.chatInfo.detail.title">Chat Info</span> {{chatInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.chatInfo.username">Username</span></dt>
        <dd>
            <span>{{chatInfo.username}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.chatInfo.password">Password</span></dt>
        <dd>
            <span>{{chatInfo.password}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'chat-info-tick/'+ chatInfo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
