<div>
    <h2>
        <span jhiTranslate="tickApp.notification.home.title">Notifications</span>
        <button class="btn btn-primary float-right jh-create-entity create-notification-tick" [routerLink]="['/', { outlets: { popup: ['notification-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.notification.home.createLabel">
            Create new Notification
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="notifications">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="tickApp.notification.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="tickApp.notification.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="method"><span jhiTranslate="tickApp.notification.method">Method</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="message"><span jhiTranslate="tickApp.notification.message">Message</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="eventId"><span jhiTranslate="tickApp.notification.event">Event</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let notification of notifications ;trackBy: trackId">
                <td><a [routerLink]="['../notification-tick', notification.id ]">{{notification.id}}</a></td>
                <td>{{notification.date | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'tickApp.NotificationStatus.' + notification.status}}">{{notification.status}}</td>
                <td jhiTranslate="{{'tickApp.NotificationMethod.' + notification.method}}">{{notification.method}}</td>
                <td>{{notification.message}}</td>
                <td>
                    <div *ngIf="notification.eventId">
                        <a [routerLink]="['../event-tick', notification.eventId  ]" >{{notification.eventId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../notification-tick', notification.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'notification-tick/'+ notification.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'notification-tick/'+ notification.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="notifications && notifications.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
