
<div *ngIf="notification">
    <h2><span jhiTranslate="tickApp.notification.detail.title">Notification</span> {{notification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.notification.date">Date</span></dt>
        <dd>
            <span>{{notification.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.notification.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.NotificationStatus.' + notification.status}}">{{notification.status}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.notification.method">Method</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.NotificationMethod.' + notification.method}}">{{notification.method}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.notification.message">Message</span></dt>
        <dd>
            <span>{{notification.message}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.notification.event">Event</span></dt>
        <dd>
            <div *ngIf="notification.eventId">
                <a [routerLink]="['/event-tick', notification.eventId]">{{notification.eventId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.notification.sysUser">Sys User</span></dt>
        <dd>
            <span *ngFor="let sysUser of notification.sysUsers; let last = last">
                <a [routerLink]="['/sys-user-tick', sysUser?.id ]">{{sysUser.login}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'notification-tick/'+ notification.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
