<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNotificationLabel" jhiTranslate="tickApp.notification.home.createOrEditLabel">Create or edit a Notification</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!notification.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="notification.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.notification.date" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="notification.date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.notification.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="notification.status" id="field_status" >
                <option value="SEEN" jhiTranslate="tickApp.NotificationStatus.SEEN">SEEN</option>
                <option value="DELETED" jhiTranslate="tickApp.NotificationStatus.DELETED">DELETED</option>
                <option value="UNSEEN" jhiTranslate="tickApp.NotificationStatus.UNSEEN">UNSEEN</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.notification.method" for="field_method">Method</label>
            <select class="form-control" name="method" [(ngModel)]="notification.method" id="field_method" >
                <option value="PHONE" jhiTranslate="tickApp.NotificationMethod.PHONE">PHONE</option>
                <option value="EMAIL" jhiTranslate="tickApp.NotificationMethod.EMAIL">EMAIL</option>
                <option value="WEB" jhiTranslate="tickApp.NotificationMethod.WEB">WEB</option>
                <option value="ALL" jhiTranslate="tickApp.NotificationMethod.ALL">ALL</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.notification.message" for="field_message">Message</label>
            <input type="text" class="form-control" name="message" id="field_message"
                [(ngModel)]="notification.message"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="tickApp.notification.event" for="field_event">Event</label>
            <select class="form-control" id="field_event" name="event" [(ngModel)]="notification.eventId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="eventOption.id" *ngFor="let eventOption of events; trackBy: trackEventById">{{eventOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.notification.sysUser" for="field_sysUser">Sys User</label>
            <select class="form-control" id="field_sysUser" multiple name="sysUser" [(ngModel)]="notification.sysUsers">
                <option [ngValue]="getSelected(notification.sysUsers, sysUserOption)" *ngFor="let sysUserOption of sysusers; trackBy: trackSysUserById">{{sysUserOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
