
<div *ngIf="working">
    <h2><span jhiTranslate="tickApp.working.detail.title">Working</span> {{working.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.working.userstatus">Userstatus</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.WorkingStatus.' + working.userstatus}}">{{working.userstatus}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.working.supplierstatus">Supplierstatus</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.WorkingStatus.' + working.supplierstatus}}">{{working.supplierstatus}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.working.amountDeposit">Amount Deposit</span></dt>
        <dd>
            <span>{{working.amountDeposit}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.working.price">Price</span></dt>
        <dd>
            <span>{{working.price}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.working.bookDate">Book Date</span></dt>
        <dd>
            <span>{{working.bookDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.working.startDate">Start Date</span></dt>
        <dd>
            <span>{{working.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.working.finishDate">Finish Date</span></dt>
        <dd>
            <span>{{working.finishDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.working.lastMeeting">Last Meeting</span></dt>
        <dd>
            <span>{{working.lastMeeting | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.working.nextMeeting">Next Meeting</span></dt>
        <dd>
            <span>{{working.nextMeeting | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.working.jobTemplate">Job Template</span></dt>
        <dd>
            <div *ngIf="working.jobTemplateId">
                <a [routerLink]="['/job-template-tick', working.jobTemplateId]">{{working.jobTemplateId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.working.sysUser">Sys User</span></dt>
        <dd>
            <div *ngIf="working.sysUserId">
                <a [routerLink]="['/sys-user-tick', working.sysUserId]">{{working.sysUserId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'working-tick/'+ working.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
