<div>
    <h2>
        <span jhiTranslate="tickApp.working.home.title">Workings</span>
        <button class="btn btn-primary float-right jh-create-entity create-working-tick" [routerLink]="['/', { outlets: { popup: ['working-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.working.home.createLabel">
            Create new Working
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="workings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userstatus"><span jhiTranslate="tickApp.working.userstatus">Userstatus</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="supplierstatus"><span jhiTranslate="tickApp.working.supplierstatus">Supplierstatus</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="amountDeposit"><span jhiTranslate="tickApp.working.amountDeposit">Amount Deposit</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="tickApp.working.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bookDate"><span jhiTranslate="tickApp.working.bookDate">Book Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span jhiTranslate="tickApp.working.startDate">Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="finishDate"><span jhiTranslate="tickApp.working.finishDate">Finish Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastMeeting"><span jhiTranslate="tickApp.working.lastMeeting">Last Meeting</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nextMeeting"><span jhiTranslate="tickApp.working.nextMeeting">Next Meeting</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jobTemplateId"><span jhiTranslate="tickApp.working.jobTemplate">Job Template</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sysUserId"><span jhiTranslate="tickApp.working.sysUser">Sys User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let working of workings ;trackBy: trackId">
                <td><a [routerLink]="['../working-tick', working.id ]">{{working.id}}</a></td>
                <td jhiTranslate="{{'tickApp.WorkingStatus.' + working.userstatus}}">{{working.userstatus}}</td>
                <td jhiTranslate="{{'tickApp.WorkingStatus.' + working.supplierstatus}}">{{working.supplierstatus}}</td>
                <td>{{working.amountDeposit}}</td>
                <td>{{working.price}}</td>
                <td>{{working.bookDate | date:'mediumDate'}}</td>
                <td>{{working.startDate | date:'mediumDate'}}</td>
                <td>{{working.finishDate | date:'mediumDate'}}</td>
                <td>{{working.lastMeeting | date:'mediumDate'}}</td>
                <td>{{working.nextMeeting | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="working.jobTemplateId">
                        <a [routerLink]="['../job-template-tick', working.jobTemplateId  ]" >{{working.jobTemplateId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="working.sysUserId">
                        <a [routerLink]="['../sys-user-tick', working.sysUserId  ]" >{{working.sysUserId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../working-tick', working.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'working-tick/'+ working.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'working-tick/'+ working.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="workings && workings.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
