<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWorkingLabel" jhiTranslate="tickApp.working.home.createOrEditLabel">Create or edit a Working</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!working.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="working.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.working.userstatus" for="field_userstatus">Userstatus</label>
            <select class="form-control" name="userstatus" [(ngModel)]="working.userstatus" id="field_userstatus" >
                <option value="PENDING_MEETING" jhiTranslate="tickApp.WorkingStatus.PENDING_MEETING">PENDING_MEETING</option>
                <option value="DOCUMENT_SENT" jhiTranslate="tickApp.WorkingStatus.DOCUMENT_SENT">DOCUMENT_SENT</option>
                <option value="WAITING_FOR_FINAL_RESULT" jhiTranslate="tickApp.WorkingStatus.WAITING_FOR_FINAL_RESULT">WAITING_FOR_FINAL_RESULT</option>
                <option value="MONEY_DEPOSIT" jhiTranslate="tickApp.WorkingStatus.MONEY_DEPOSIT">MONEY_DEPOSIT</option>
                <option value="WAITING_FOR_FINAL_APPROVAL" jhiTranslate="tickApp.WorkingStatus.WAITING_FOR_FINAL_APPROVAL">WAITING_FOR_FINAL_APPROVAL</option>
                <option value="ONE_QUARTER" jhiTranslate="tickApp.WorkingStatus.ONE_QUARTER">ONE_QUARTER</option>
                <option value="TWO_QUARTER" jhiTranslate="tickApp.WorkingStatus.TWO_QUARTER">TWO_QUARTER</option>
                <option value="THREE_QUARTER" jhiTranslate="tickApp.WorkingStatus.THREE_QUARTER">THREE_QUARTER</option>
                <option value="WAITING_FOR_DOCUMENT" jhiTranslate="tickApp.WorkingStatus.WAITING_FOR_DOCUMENT">WAITING_FOR_DOCUMENT</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.working.supplierstatus" for="field_supplierstatus">Supplierstatus</label>
            <select class="form-control" name="supplierstatus" [(ngModel)]="working.supplierstatus" id="field_supplierstatus" >
                <option value="PENDING_MEETING" jhiTranslate="tickApp.WorkingStatus.PENDING_MEETING">PENDING_MEETING</option>
                <option value="DOCUMENT_SENT" jhiTranslate="tickApp.WorkingStatus.DOCUMENT_SENT">DOCUMENT_SENT</option>
                <option value="WAITING_FOR_FINAL_RESULT" jhiTranslate="tickApp.WorkingStatus.WAITING_FOR_FINAL_RESULT">WAITING_FOR_FINAL_RESULT</option>
                <option value="MONEY_DEPOSIT" jhiTranslate="tickApp.WorkingStatus.MONEY_DEPOSIT">MONEY_DEPOSIT</option>
                <option value="WAITING_FOR_FINAL_APPROVAL" jhiTranslate="tickApp.WorkingStatus.WAITING_FOR_FINAL_APPROVAL">WAITING_FOR_FINAL_APPROVAL</option>
                <option value="ONE_QUARTER" jhiTranslate="tickApp.WorkingStatus.ONE_QUARTER">ONE_QUARTER</option>
                <option value="TWO_QUARTER" jhiTranslate="tickApp.WorkingStatus.TWO_QUARTER">TWO_QUARTER</option>
                <option value="THREE_QUARTER" jhiTranslate="tickApp.WorkingStatus.THREE_QUARTER">THREE_QUARTER</option>
                <option value="WAITING_FOR_DOCUMENT" jhiTranslate="tickApp.WorkingStatus.WAITING_FOR_DOCUMENT">WAITING_FOR_DOCUMENT</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.working.amountDeposit" for="field_amountDeposit">Amount Deposit</label>
            <input type="number" class="form-control" name="amountDeposit" id="field_amountDeposit"
                [(ngModel)]="working.amountDeposit"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.working.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="working.price" required />
            <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.price?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.price?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.working.bookDate" for="field_bookDate">Book Date</label>
            <div class="input-group">
                <input id="field_bookDate" type="text" class="form-control" name="bookDate" ngbDatepicker  #bookDateDp="ngbDatepicker" [(ngModel)]="working.bookDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="bookDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.working.startDate" for="field_startDate">Start Date</label>
            <div class="input-group">
                <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="working.startDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.working.finishDate" for="field_finishDate">Finish Date</label>
            <div class="input-group">
                <input id="field_finishDate" type="text" class="form-control" name="finishDate" ngbDatepicker  #finishDateDp="ngbDatepicker" [(ngModel)]="working.finishDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="finishDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.working.lastMeeting" for="field_lastMeeting">Last Meeting</label>
            <div class="input-group">
                <input id="field_lastMeeting" type="text" class="form-control" name="lastMeeting" ngbDatepicker  #lastMeetingDp="ngbDatepicker" [(ngModel)]="working.lastMeeting"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="lastMeetingDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.lastMeeting?.dirty && editForm.controls.lastMeeting?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastMeeting?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.working.nextMeeting" for="field_nextMeeting">Next Meeting</label>
            <div class="input-group">
                <input id="field_nextMeeting" type="text" class="form-control" name="nextMeeting" ngbDatepicker  #nextMeetingDp="ngbDatepicker" [(ngModel)]="working.nextMeeting"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="nextMeetingDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.nextMeeting?.dirty && editForm.controls.nextMeeting?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nextMeeting?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="tickApp.working.jobTemplate" for="field_jobTemplate">Job Template</label>
            <select class="form-control" id="field_jobTemplate" name="jobTemplate" [(ngModel)]="working.jobTemplateId">
                <option [ngValue]="null"></option>
                <option [ngValue]="jobTemplateOption.id" *ngFor="let jobTemplateOption of jobtemplates; trackBy: trackJobTemplateById">{{jobTemplateOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.working.sysUser" for="field_sysUser">Sys User</label>
            <select class="form-control" id="field_sysUser" name="sysUser" [(ngModel)]="working.sysUserId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sysUserOption.id" *ngFor="let sysUserOption of sysusers; trackBy: trackSysUserById">{{sysUserOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
