
<div *ngIf="form">
    <h2><span jhiTranslate="tickApp.form.detail.title">Form</span> {{form.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.form.name">Name</span></dt>
        <dd>
            <span>{{form.name}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.form.desc">Desc</span></dt>
        <dd>
            <span>{{form.desc}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.form.content">Content</span></dt>
        <dd>
            <span>{{form.content}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.form."></span></dt>
        <dd>
            <div *ngIf="form.Id">
                <a [routerLink]="['/service-tick', form.Id]">{{form.Id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'form-tick/'+ form.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
