<div>
    <h2>
        <span jhiTranslate="tickApp.userInfo.home.title">User Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-user-info-tick" [routerLink]="['/', { outlets: { popup: ['user-info-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.userInfo.home.createLabel">
            Create new User Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userInfos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastName"><span jhiTranslate="tickApp.userInfo.lastName">Last Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="firstName"><span jhiTranslate="tickApp.userInfo.firstName">First Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address"><span jhiTranslate="tickApp.userInfo.address">Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phoneNumber"><span jhiTranslate="tickApp.userInfo.phoneNumber">Phone Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="countryCode"><span jhiTranslate="tickApp.userInfo.countryCode">Country Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateJoined"><span jhiTranslate="tickApp.userInfo.dateJoined">Date Joined</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="photo"><span jhiTranslate="tickApp.userInfo.photo">Photo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="birthDate"><span jhiTranslate="tickApp.userInfo.birthDate">Birth Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="facebook"><span jhiTranslate="tickApp.userInfo.facebook">Facebook</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userInfo of userInfos ;trackBy: trackId">
                <td><a [routerLink]="['../user-info-tick', userInfo.id ]">{{userInfo.id}}</a></td>
                <td>{{userInfo.lastName}}</td>
                <td>{{userInfo.firstName}}</td>
                <td>{{userInfo.address}}</td>
                <td>{{userInfo.phoneNumber}}</td>
                <td>{{userInfo.countryCode}}</td>
                <td>{{userInfo.dateJoined | date:'mediumDate'}}</td>
                <td>{{userInfo.photo}}</td>
                <td>{{userInfo.birthDate}}</td>
                <td>{{userInfo.facebook}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-info-tick', userInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-info-tick/'+ userInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-info-tick/'+ userInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="userInfos && userInfos.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
