
<div *ngIf="userInfo">
    <h2><span jhiTranslate="tickApp.userInfo.detail.title">User Info</span> {{userInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.userInfo.lastName">Last Name</span></dt>
        <dd>
            <span>{{userInfo.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.userInfo.firstName">First Name</span></dt>
        <dd>
            <span>{{userInfo.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.userInfo.address">Address</span></dt>
        <dd>
            <span>{{userInfo.address}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.userInfo.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{userInfo.phoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.userInfo.countryCode">Country Code</span></dt>
        <dd>
            <span>{{userInfo.countryCode}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.userInfo.dateJoined">Date Joined</span></dt>
        <dd>
            <span>{{userInfo.dateJoined | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.userInfo.photo">Photo</span></dt>
        <dd>
            <span>{{userInfo.photo}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.userInfo.birthDate">Birth Date</span></dt>
        <dd>
            <span>{{userInfo.birthDate}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.userInfo.facebook">Facebook</span></dt>
        <dd>
            <span>{{userInfo.facebook}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-info-tick/'+ userInfo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
