<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserInfoLabel" jhiTranslate="tickApp.userInfo.home.createOrEditLabel">Create or edit a User Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userInfo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.userInfo.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="userInfo.lastName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.userInfo.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="userInfo.firstName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.userInfo.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="userInfo.address"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.userInfo.phoneNumber" for="field_phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                [(ngModel)]="userInfo.phoneNumber"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.userInfo.countryCode" for="field_countryCode">Country Code</label>
            <input type="text" class="form-control" name="countryCode" id="field_countryCode"
                [(ngModel)]="userInfo.countryCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.userInfo.dateJoined" for="field_dateJoined">Date Joined</label>
            <div class="input-group">
                <input id="field_dateJoined" type="text" class="form-control" name="dateJoined" ngbDatepicker  #dateJoinedDp="ngbDatepicker" [(ngModel)]="userInfo.dateJoined"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateJoinedDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.userInfo.photo" for="field_photo">Photo</label>
            <input type="text" class="form-control" name="photo" id="field_photo"
                [(ngModel)]="userInfo.photo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.userInfo.birthDate" for="field_birthDate">Birth Date</label>
            <input type="text" class="form-control" name="birthDate" id="field_birthDate"
                [(ngModel)]="userInfo.birthDate"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.userInfo.facebook" for="field_facebook">Facebook</label>
            <input type="text" class="form-control" name="facebook" id="field_facebook"
                [(ngModel)]="userInfo.facebook"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
