
<div *ngIf="completed">
    <h2><span jhiTranslate="tickApp.completed.detail.title">Completed</span> {{completed.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.completed.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.CompleteStatus.' + completed.status}}">{{completed.status}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.completed.completeDate">Complete Date</span></dt>
        <dd>
            <span>{{completed.completeDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.completed.reviewed">Reviewed</span></dt>
        <dd>
            <span>{{completed.reviewed}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.completed.rating">Rating</span></dt>
        <dd>
            <span>{{completed.rating}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.completed.jobTemplate">Job Template</span></dt>
        <dd>
            <div *ngIf="completed.jobTemplateId">
                <a [routerLink]="['/job-template-tick', completed.jobTemplateId]">{{completed.jobTemplateId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.completed.userInvoice">User Invoice</span></dt>
        <dd>
            <div *ngIf="completed.userInvoiceId">
                <a [routerLink]="['/invoice-tick', completed.userInvoiceId]">{{completed.userInvoiceId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.completed.providerInvoice">Provider Invoice</span></dt>
        <dd>
            <div *ngIf="completed.providerInvoiceId">
                <a [routerLink]="['/invoice-tick', completed.providerInvoiceId]">{{completed.providerInvoiceId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'completed-tick/'+ completed.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
