<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCompletedLabel" jhiTranslate="tickApp.completed.home.createOrEditLabel">Create or edit a Completed</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!completed.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="completed.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.completed.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="completed.status" id="field_status" >
                <option value="WAITING_FOR_FINAL_PAYMENT" jhiTranslate="tickApp.CompleteStatus.WAITING_FOR_FINAL_PAYMENT">WAITING_FOR_FINAL_PAYMENT</option>
                <option value="PAID" jhiTranslate="tickApp.CompleteStatus.PAID">PAID</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.completed.completeDate" for="field_completeDate">Complete Date</label>
            <div class="input-group">
                <input id="field_completeDate" type="text" class="form-control" name="completeDate" ngbDatepicker  #completeDateDp="ngbDatepicker" [(ngModel)]="completed.completeDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="completeDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.completed.reviewed" for="field_reviewed">Reviewed</label>
            <input type="checkbox" class="form-control" name="reviewed" id="field_reviewed"
                [(ngModel)]="completed.reviewed"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.completed.rating" for="field_rating">Rating</label>
            <input type="number" class="form-control" name="rating" id="field_rating"
                [(ngModel)]="completed.rating"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="tickApp.completed.jobTemplate" for="field_jobTemplate">Job Template</label>
            <select class="form-control" id="field_jobTemplate" name="jobTemplate" [(ngModel)]="completed.jobTemplateId">
                <option [ngValue]="null"></option>
                <option [ngValue]="jobTemplateOption.id" *ngFor="let jobTemplateOption of jobtemplates; trackBy: trackJobTemplateById">{{jobTemplateOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.completed.userInvoice" for="field_userInvoice">User Invoice</label>
            <select class="form-control" id="field_userInvoice" name="userInvoice" [(ngModel)]="completed.userInvoiceId">
                <option [ngValue]="null"></option>
                <option [ngValue]="invoiceOption.id" *ngFor="let invoiceOption of userinvoices; trackBy: trackInvoiceById">{{invoiceOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.completed.providerInvoice" for="field_providerInvoice">Provider Invoice</label>
            <select class="form-control" id="field_providerInvoice" name="providerInvoice" [(ngModel)]="completed.providerInvoiceId">
                <option [ngValue]="null"></option>
                <option [ngValue]="invoiceOption.id" *ngFor="let invoiceOption of providerinvoices; trackBy: trackInvoiceById">{{invoiceOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
