<div>
    <h2>
        <span jhiTranslate="tickApp.completed.home.title">Completeds</span>
        <button class="btn btn-primary float-right jh-create-entity create-completed-tick" [routerLink]="['/', { outlets: { popup: ['completed-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.completed.home.createLabel">
            Create new Completed
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="completeds">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="tickApp.completed.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="completeDate"><span jhiTranslate="tickApp.completed.completeDate">Complete Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reviewed"><span jhiTranslate="tickApp.completed.reviewed">Reviewed</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rating"><span jhiTranslate="tickApp.completed.rating">Rating</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jobTemplateId"><span jhiTranslate="tickApp.completed.jobTemplate">Job Template</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userInvoiceId"><span jhiTranslate="tickApp.completed.userInvoice">User Invoice</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="providerInvoiceId"><span jhiTranslate="tickApp.completed.providerInvoice">Provider Invoice</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let completed of completeds ;trackBy: trackId">
                <td><a [routerLink]="['../completed-tick', completed.id ]">{{completed.id}}</a></td>
                <td jhiTranslate="{{'tickApp.CompleteStatus.' + completed.status}}">{{completed.status}}</td>
                <td>{{completed.completeDate | date:'mediumDate'}}</td>
                <td>{{completed.reviewed}}</td>
                <td>{{completed.rating}}</td>
                <td>
                    <div *ngIf="completed.jobTemplateId">
                        <a [routerLink]="['../job-template-tick', completed.jobTemplateId  ]" >{{completed.jobTemplateId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="completed.userInvoiceId">
                        <a [routerLink]="['../invoice-tick', completed.userInvoiceId  ]" >{{completed.userInvoiceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="completed.providerInvoiceId">
                        <a [routerLink]="['../invoice-tick', completed.providerInvoiceId  ]" >{{completed.providerInvoiceId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../completed-tick', completed.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'completed-tick/'+ completed.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'completed-tick/'+ completed.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="completeds && completeds.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
