
<div *ngIf="loginInfo">
    <h2><span jhiTranslate="tickApp.loginInfo.detail.title">Login Info</span> {{loginInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.loginInfo.username">Username</span></dt>
        <dd>
            <span>{{loginInfo.username}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.loginInfo.password">Password</span></dt>
        <dd>
            <span>{{loginInfo.password}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.loginInfo.email">Email</span></dt>
        <dd>
            <span>{{loginInfo.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'login-info-tick/'+ loginInfo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
