<div>
    <h2>
        <span jhiTranslate="tickApp.loginInfo.home.title">Login Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-login-info-tick" [routerLink]="['/', { outlets: { popup: ['login-info-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.loginInfo.home.createLabel">
            Create new Login Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="loginInfos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="username"><span jhiTranslate="tickApp.loginInfo.username">Username</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="password"><span jhiTranslate="tickApp.loginInfo.password">Password</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="tickApp.loginInfo.email">Email</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let loginInfo of loginInfos ;trackBy: trackId">
                <td><a [routerLink]="['../login-info-tick', loginInfo.id ]">{{loginInfo.id}}</a></td>
                <td>{{loginInfo.username}}</td>
                <td>{{loginInfo.password}}</td>
                <td>{{loginInfo.email}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../login-info-tick', loginInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'login-info-tick/'+ loginInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'login-info-tick/'+ loginInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="loginInfos && loginInfos.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
