
<div *ngIf="invoice">
    <h2><span jhiTranslate="tickApp.invoice.detail.title">Invoice</span> {{invoice.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.invoice.receiptDate">Receipt Date</span></dt>
        <dd>
            <span>{{invoice.receiptDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.invoice.receiptAmount">Receipt Amount</span></dt>
        <dd>
            <span>{{invoice.receiptAmount}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.invoice.taxRate">Tax Rate</span></dt>
        <dd>
            <span>{{invoice.taxRate}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.invoice.receiptInfo">Receipt Info</span></dt>
        <dd>
            <span>{{invoice.receiptInfo}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.invoice.user">User</span></dt>
        <dd>
            {{invoice.userLogin}}
        </dd>
        <dt><span jhiTranslate="tickApp.invoice.business">Business</span></dt>
        <dd>
            <div *ngIf="invoice.businessId">
                <a [routerLink]="['/business-tick', invoice.businessId]">{{invoice.businessId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'invoice-tick/'+ invoice.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
