<div>
    <h2>
        <span jhiTranslate="tickApp.invoice.home.title">Invoices</span>
        <button class="btn btn-primary float-right jh-create-entity create-invoice-tick" [routerLink]="['/', { outlets: { popup: ['invoice-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.invoice.home.createLabel">
            Create new Invoice
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="invoices">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="receiptDate"><span jhiTranslate="tickApp.invoice.receiptDate">Receipt Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="receiptAmount"><span jhiTranslate="tickApp.invoice.receiptAmount">Receipt Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="taxRate"><span jhiTranslate="tickApp.invoice.taxRate">Tax Rate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="receiptInfo"><span jhiTranslate="tickApp.invoice.receiptInfo">Receipt Info</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userLogin"><span jhiTranslate="tickApp.invoice.user">User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="businessId"><span jhiTranslate="tickApp.invoice.business">Business</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of invoices ;trackBy: trackId">
                <td><a [routerLink]="['../invoice-tick', invoice.id ]">{{invoice.id}}</a></td>
                <td>{{invoice.receiptDate | date:'mediumDate'}}</td>
                <td>{{invoice.receiptAmount}}</td>
                <td>{{invoice.taxRate}}</td>
                <td>{{invoice.receiptInfo}}</td>
                <td>
                    {{invoice.userLogin}}
                </td>
                <td>
                    <div *ngIf="invoice.businessId">
                        <a [routerLink]="['../business-tick', invoice.businessId  ]" >{{invoice.businessId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../invoice-tick', invoice.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice-tick/'+ invoice.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice-tick/'+ invoice.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="invoices && invoices.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
