<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInvoiceLabel" jhiTranslate="tickApp.invoice.home.createOrEditLabel">Create or edit a Invoice</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!invoice.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="invoice.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.invoice.receiptDate" for="field_receiptDate">Receipt Date</label>
            <div class="input-group">
                <input id="field_receiptDate" type="text" class="form-control" name="receiptDate" ngbDatepicker  #receiptDateDp="ngbDatepicker" [(ngModel)]="invoice.receiptDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="receiptDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.invoice.receiptAmount" for="field_receiptAmount">Receipt Amount</label>
            <input type="number" class="form-control" name="receiptAmount" id="field_receiptAmount"
                [(ngModel)]="invoice.receiptAmount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.invoice.taxRate" for="field_taxRate">Tax Rate</label>
            <input type="number" class="form-control" name="taxRate" id="field_taxRate"
                [(ngModel)]="invoice.taxRate"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.invoice.receiptInfo" for="field_receiptInfo">Receipt Info</label>
            <input type="text" class="form-control" name="receiptInfo" id="field_receiptInfo"
                [(ngModel)]="invoice.receiptInfo" required />
            <div [hidden]="!(editForm.controls.receiptInfo?.dirty && editForm.controls.receiptInfo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.receiptInfo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="tickApp.invoice.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="invoice.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.invoice.business" for="field_business">Business</label>
            <select class="form-control" id="field_business" name="business" [(ngModel)]="invoice.businessId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="businessOption.id" *ngFor="let businessOption of businesses; trackBy: trackBusinessById">{{businessOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
