<div>
    <h2>
        <span jhiTranslate="tickApp.reviewInfo.home.title">Review Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-review-info-tick" [routerLink]="['/', { outlets: { popup: ['review-info-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.reviewInfo.home.createLabel">
            Create new Review Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="reviewInfos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="username"><span jhiTranslate="tickApp.reviewInfo.username">Username</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="password"><span jhiTranslate="tickApp.reviewInfo.password">Password</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numReviews"><span jhiTranslate="tickApp.reviewInfo.numReviews">Num Reviews</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="averageRating"><span jhiTranslate="tickApp.reviewInfo.averageRating">Average Rating</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reviewInfo of reviewInfos ;trackBy: trackId">
                <td><a [routerLink]="['../review-info-tick', reviewInfo.id ]">{{reviewInfo.id}}</a></td>
                <td>{{reviewInfo.username}}</td>
                <td>{{reviewInfo.password}}</td>
                <td>{{reviewInfo.numReviews}}</td>
                <td>{{reviewInfo.averageRating}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../review-info-tick', reviewInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'review-info-tick/'+ reviewInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'review-info-tick/'+ reviewInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="reviewInfos && reviewInfos.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
