
<div *ngIf="reviewInfo">
    <h2><span jhiTranslate="tickApp.reviewInfo.detail.title">Review Info</span> {{reviewInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.reviewInfo.username">Username</span></dt>
        <dd>
            <span>{{reviewInfo.username}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.reviewInfo.password">Password</span></dt>
        <dd>
            <span>{{reviewInfo.password}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.reviewInfo.numReviews">Num Reviews</span></dt>
        <dd>
            <span>{{reviewInfo.numReviews}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.reviewInfo.averageRating">Average Rating</span></dt>
        <dd>
            <span>{{reviewInfo.averageRating}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'review-info-tick/'+ reviewInfo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
