<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myReviewInfoLabel" jhiTranslate="tickApp.reviewInfo.home.createOrEditLabel">Create or edit a Review Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!reviewInfo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="reviewInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.reviewInfo.username" for="field_username">Username</label>
            <input type="text" class="form-control" name="username" id="field_username"
                [(ngModel)]="reviewInfo.username"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.reviewInfo.password" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                [(ngModel)]="reviewInfo.password"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.reviewInfo.numReviews" for="field_numReviews">Num Reviews</label>
            <input type="number" class="form-control" name="numReviews" id="field_numReviews"
                [(ngModel)]="reviewInfo.numReviews"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.reviewInfo.averageRating" for="field_averageRating">Average Rating</label>
            <input type="number" class="form-control" name="averageRating" id="field_averageRating"
                [(ngModel)]="reviewInfo.averageRating"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
