<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInvoiceInfoLabel" jhiTranslate="tickApp.invoiceInfo.home.createOrEditLabel">Create or edit a Invoice Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!invoiceInfo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="invoiceInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.invoiceInfo.businessAddress" for="field_businessAddress">Business Address</label>
            <input type="text" class="form-control" name="businessAddress" id="field_businessAddress"
                [(ngModel)]="invoiceInfo.businessAddress"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.invoiceInfo.invoiceAddress" for="field_invoiceAddress">Invoice Address</label>
            <input type="text" class="form-control" name="invoiceAddress" id="field_invoiceAddress"
                [(ngModel)]="invoiceInfo.invoiceAddress"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.invoiceInfo.taxNumber" for="field_taxNumber">Tax Number</label>
            <input type="text" class="form-control" name="taxNumber" id="field_taxNumber"
                [(ngModel)]="invoiceInfo.taxNumber"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.invoiceInfo.accountNumber" for="field_accountNumber">Account Number</label>
            <input type="text" class="form-control" name="accountNumber" id="field_accountNumber"
                [(ngModel)]="invoiceInfo.accountNumber"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.invoiceInfo.businessName" for="field_businessName">Business Name</label>
            <input type="text" class="form-control" name="businessName" id="field_businessName"
                [(ngModel)]="invoiceInfo.businessName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.invoiceInfo.personName" for="field_personName">Person Name</label>
            <input type="text" class="form-control" name="personName" id="field_personName"
                [(ngModel)]="invoiceInfo.personName"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="tickApp.invoiceInfo." for="field_"></label>
            <select class="form-control" id="field_" name="" [(ngModel)]="invoiceInfo.Id">
                <option [ngValue]="null"></option>
                <option [ngValue]="businessOption.id" *ngFor="let businessOption of ; trackBy: trackBusinessById">{{businessOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
