<div>
    <h2>
        <span jhiTranslate="tickApp.invoiceInfo.home.title">Invoice Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-invoice-info-tick" [routerLink]="['/', { outlets: { popup: ['invoice-info-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.invoiceInfo.home.createLabel">
            Create new Invoice Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="invoiceInfos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="businessAddress"><span jhiTranslate="tickApp.invoiceInfo.businessAddress">Business Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="invoiceAddress"><span jhiTranslate="tickApp.invoiceInfo.invoiceAddress">Invoice Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="taxNumber"><span jhiTranslate="tickApp.invoiceInfo.taxNumber">Tax Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="accountNumber"><span jhiTranslate="tickApp.invoiceInfo.accountNumber">Account Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="businessName"><span jhiTranslate="tickApp.invoiceInfo.businessName">Business Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="personName"><span jhiTranslate="tickApp.invoiceInfo.personName">Person Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="Id"><span jhiTranslate="tickApp.invoiceInfo."></span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoiceInfo of invoiceInfos ;trackBy: trackId">
                <td><a [routerLink]="['../invoice-info-tick', invoiceInfo.id ]">{{invoiceInfo.id}}</a></td>
                <td>{{invoiceInfo.businessAddress}}</td>
                <td>{{invoiceInfo.invoiceAddress}}</td>
                <td>{{invoiceInfo.taxNumber}}</td>
                <td>{{invoiceInfo.accountNumber}}</td>
                <td>{{invoiceInfo.businessName}}</td>
                <td>{{invoiceInfo.personName}}</td>
                <td>
                    <div *ngIf="invoiceInfo.Id">
                        <a [routerLink]="['../business-tick', invoiceInfo.Id  ]" >{{invoiceInfo.Id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../invoice-info-tick', invoiceInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice-info-tick/'+ invoiceInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice-info-tick/'+ invoiceInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="invoiceInfos && invoiceInfos.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
