
<div *ngIf="invoiceInfo">
    <h2><span jhiTranslate="tickApp.invoiceInfo.detail.title">Invoice Info</span> {{invoiceInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.invoiceInfo.businessAddress">Business Address</span></dt>
        <dd>
            <span>{{invoiceInfo.businessAddress}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.invoiceInfo.invoiceAddress">Invoice Address</span></dt>
        <dd>
            <span>{{invoiceInfo.invoiceAddress}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.invoiceInfo.taxNumber">Tax Number</span></dt>
        <dd>
            <span>{{invoiceInfo.taxNumber}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.invoiceInfo.accountNumber">Account Number</span></dt>
        <dd>
            <span>{{invoiceInfo.accountNumber}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.invoiceInfo.businessName">Business Name</span></dt>
        <dd>
            <span>{{invoiceInfo.businessName}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.invoiceInfo.personName">Person Name</span></dt>
        <dd>
            <span>{{invoiceInfo.personName}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.invoiceInfo."></span></dt>
        <dd>
            <div *ngIf="invoiceInfo.Id">
                <a [routerLink]="['/business-tick', invoiceInfo.Id]">{{invoiceInfo.Id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'invoice-info-tick/'+ invoiceInfo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
