<div>
    <h2>
        <span jhiTranslate="tickApp.sysUser.home.title">Sys Users</span>
        <button class="btn btn-primary float-right jh-create-entity create-sys-user-tick" [routerLink]="['/', { outlets: { popup: ['sys-user-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.sysUser.home.createLabel">
            Create new Sys User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sysUsers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="role"><span jhiTranslate="tickApp.sysUser.role">Role</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="tickApp.sysUser.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="security"><span jhiTranslate="tickApp.sysUser.security">Security</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="points"><span jhiTranslate="tickApp.sysUser.points">Points</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="creditInfoId"><span jhiTranslate="tickApp.sysUser.creditInfo">Credit Info</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="chatInfoId"><span jhiTranslate="tickApp.sysUser.chatInfo">Chat Info</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pushInfoId"><span jhiTranslate="tickApp.sysUser.pushInfo">Push Info</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reviewInfoId"><span jhiTranslate="tickApp.sysUser.reviewInfo">Review Info</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jobInfoId"><span jhiTranslate="tickApp.sysUser.jobInfo">Job Info</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="Id"><span jhiTranslate="tickApp.sysUser."></span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="languageId"><span jhiTranslate="tickApp.sysUser.language">Language</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="locationId"><span jhiTranslate="tickApp.sysUser.location">Location</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="canceledId"><span jhiTranslate="tickApp.sysUser.canceled">Canceled</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sysUser of sysUsers ;trackBy: trackId">
                <td><a [routerLink]="['../sys-user-tick', sysUser.id ]">{{sysUser.id}}</a></td>
                <td jhiTranslate="{{'tickApp.UserRole.' + sysUser.role}}">{{sysUser.role}}</td>
                <td jhiTranslate="{{'tickApp.UserType.' + sysUser.type}}">{{sysUser.type}}</td>
                <td jhiTranslate="{{'tickApp.UserSecurity.' + sysUser.security}}">{{sysUser.security}}</td>
                <td>{{sysUser.points}}</td>
                <td>
                    <div *ngIf="sysUser.creditInfoId">
                        <a [routerLink]="['../credit-info-tick', sysUser.creditInfoId  ]" >{{sysUser.creditInfoId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sysUser.chatInfoId">
                        <a [routerLink]="['../chat-info-tick', sysUser.chatInfoId  ]" >{{sysUser.chatInfoId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sysUser.pushInfoId">
                        <a [routerLink]="['../push-info-tick', sysUser.pushInfoId  ]" >{{sysUser.pushInfoId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sysUser.reviewInfoId">
                        <a [routerLink]="['../review-info-tick', sysUser.reviewInfoId  ]" >{{sysUser.reviewInfoId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sysUser.jobInfoId">
                        <a [routerLink]="['../job-info-tick', sysUser.jobInfoId  ]" >{{sysUser.jobInfoId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sysUser.Id">
                        <a [routerLink]="['../login-info-tick', sysUser.Id  ]" >{{sysUser.Id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sysUser.languageId">
                        <a [routerLink]="['../language-tick', sysUser.languageId  ]" >{{sysUser.languageId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sysUser.locationId">
                        <a [routerLink]="['../location-tick', sysUser.locationId  ]" >{{sysUser.locationId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sysUser.canceledId">
                        <a [routerLink]="['../canceled-tick', sysUser.canceledId  ]" >{{sysUser.canceledId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sys-user-tick', sysUser.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sys-user-tick/'+ sysUser.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sys-user-tick/'+ sysUser.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="sysUsers && sysUsers.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
