
<div *ngIf="sysUser">
    <h2><span jhiTranslate="tickApp.sysUser.detail.title">Sys User</span> {{sysUser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.sysUser.role">Role</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.UserRole.' + sysUser.role}}">{{sysUser.role}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.sysUser.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.UserType.' + sysUser.type}}">{{sysUser.type}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.sysUser.security">Security</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.UserSecurity.' + sysUser.security}}">{{sysUser.security}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.sysUser.points">Points</span></dt>
        <dd>
            <span>{{sysUser.points}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.sysUser.creditInfo">Credit Info</span></dt>
        <dd>
            <div *ngIf="sysUser.creditInfoId">
                <a [routerLink]="['/credit-info-tick', sysUser.creditInfoId]">{{sysUser.creditInfoId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.sysUser.chatInfo">Chat Info</span></dt>
        <dd>
            <div *ngIf="sysUser.chatInfoId">
                <a [routerLink]="['/chat-info-tick', sysUser.chatInfoId]">{{sysUser.chatInfoId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.sysUser.pushInfo">Push Info</span></dt>
        <dd>
            <div *ngIf="sysUser.pushInfoId">
                <a [routerLink]="['/push-info-tick', sysUser.pushInfoId]">{{sysUser.pushInfoId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.sysUser.reviewInfo">Review Info</span></dt>
        <dd>
            <div *ngIf="sysUser.reviewInfoId">
                <a [routerLink]="['/review-info-tick', sysUser.reviewInfoId]">{{sysUser.reviewInfoId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.sysUser.jobInfo">Job Info</span></dt>
        <dd>
            <div *ngIf="sysUser.jobInfoId">
                <a [routerLink]="['/job-info-tick', sysUser.jobInfoId]">{{sysUser.jobInfoId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.sysUser."></span></dt>
        <dd>
            <div *ngIf="sysUser.Id">
                <a [routerLink]="['/login-info-tick', sysUser.Id]">{{sysUser.Id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.sysUser.language">Language</span></dt>
        <dd>
            <div *ngIf="sysUser.languageId">
                <a [routerLink]="['/language-tick', sysUser.languageId]">{{sysUser.languageId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.sysUser.location">Location</span></dt>
        <dd>
            <div *ngIf="sysUser.locationId">
                <a [routerLink]="['/location-tick', sysUser.locationId]">{{sysUser.locationId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.sysUser.canceled">Canceled</span></dt>
        <dd>
            <div *ngIf="sysUser.canceledId">
                <a [routerLink]="['/canceled-tick', sysUser.canceledId]">{{sysUser.canceledId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sys-user-tick/'+ sysUser.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
