<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySysUserLabel" jhiTranslate="tickApp.sysUser.home.createOrEditLabel">Create or edit a Sys User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!sysUser.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="sysUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.sysUser.role" for="field_role">Role</label>
            <select class="form-control" name="role" [(ngModel)]="sysUser.role" id="field_role" >
                <option value="ADMIN" jhiTranslate="tickApp.UserRole.ADMIN">ADMIN</option>
                <option value="PROVIDER" jhiTranslate="tickApp.UserRole.PROVIDER">PROVIDER</option>
                <option value="USER" jhiTranslate="tickApp.UserRole.USER">USER</option>
                <option value="SALES" jhiTranslate="tickApp.UserRole.SALES">SALES</option>
                <option value="GUEST" jhiTranslate="tickApp.UserRole.GUEST">GUEST</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.sysUser.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="sysUser.type" id="field_type" >
                <option value="NEW" jhiTranslate="tickApp.UserType.NEW">NEW</option>
                <option value="BRONZE" jhiTranslate="tickApp.UserType.BRONZE">BRONZE</option>
                <option value="SILVER" jhiTranslate="tickApp.UserType.SILVER">SILVER</option>
                <option value="GOLD" jhiTranslate="tickApp.UserType.GOLD">GOLD</option>
                <option value="DIAMOND" jhiTranslate="tickApp.UserType.DIAMOND">DIAMOND</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.sysUser.security" for="field_security">Security</label>
            <select class="form-control" name="security" [(ngModel)]="sysUser.security" id="field_security" >
                <option value="VERIFIED" jhiTranslate="tickApp.UserSecurity.VERIFIED">VERIFIED</option>
                <option value="PENDING" jhiTranslate="tickApp.UserSecurity.PENDING">PENDING</option>
                <option value="BLOCKED" jhiTranslate="tickApp.UserSecurity.BLOCKED">BLOCKED</option>
                <option value="INACTIVE" jhiTranslate="tickApp.UserSecurity.INACTIVE">INACTIVE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.sysUser.points" for="field_points">Points</label>
            <input type="number" class="form-control" name="points" id="field_points"
                [(ngModel)]="sysUser.points"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="tickApp.sysUser.creditInfo" for="field_creditInfo">Credit Info</label>
            <select class="form-control" id="field_creditInfo" name="creditInfo" [(ngModel)]="sysUser.creditInfoId">
                <option [ngValue]="null"></option>
                <option [ngValue]="creditInfoOption.id" *ngFor="let creditInfoOption of creditinfos; trackBy: trackCreditInfoById">{{creditInfoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.sysUser.chatInfo" for="field_chatInfo">Chat Info</label>
            <select class="form-control" id="field_chatInfo" name="chatInfo" [(ngModel)]="sysUser.chatInfoId">
                <option [ngValue]="null"></option>
                <option [ngValue]="chatInfoOption.id" *ngFor="let chatInfoOption of chatinfos; trackBy: trackChatInfoById">{{chatInfoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.sysUser.pushInfo" for="field_pushInfo">Push Info</label>
            <select class="form-control" id="field_pushInfo" name="pushInfo" [(ngModel)]="sysUser.pushInfoId">
                <option [ngValue]="null"></option>
                <option [ngValue]="pushInfoOption.id" *ngFor="let pushInfoOption of pushinfos; trackBy: trackPushInfoById">{{pushInfoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.sysUser.reviewInfo" for="field_reviewInfo">Review Info</label>
            <select class="form-control" id="field_reviewInfo" name="reviewInfo" [(ngModel)]="sysUser.reviewInfoId">
                <option [ngValue]="null"></option>
                <option [ngValue]="reviewInfoOption.id" *ngFor="let reviewInfoOption of reviewinfos; trackBy: trackReviewInfoById">{{reviewInfoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.sysUser.jobInfo" for="field_jobInfo">Job Info</label>
            <select class="form-control" id="field_jobInfo" name="jobInfo" [(ngModel)]="sysUser.jobInfoId">
                <option [ngValue]="null"></option>
                <option [ngValue]="jobInfoOption.id" *ngFor="let jobInfoOption of jobinfos; trackBy: trackJobInfoById">{{jobInfoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.sysUser." for="field_"></label>
            <select class="form-control" id="field_" name="" [(ngModel)]="sysUser.Id">
                <option [ngValue]="null"></option>
                <option [ngValue]="loginInfoOption.id" *ngFor="let loginInfoOption of ; trackBy: trackLoginInfoById">{{loginInfoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.sysUser.language" for="field_language">Language</label>
            <select class="form-control" id="field_language" name="language" [(ngModel)]="sysUser.languageId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="languageOption.id" *ngFor="let languageOption of languages; trackBy: trackLanguageById">{{languageOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.sysUser.location" for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" [(ngModel)]="sysUser.locationId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="locationOption.id" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.sysUser.canceled" for="field_canceled">Canceled</label>
            <select class="form-control" id="field_canceled" name="canceled" [(ngModel)]="sysUser.canceledId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="canceledOption.id" *ngFor="let canceledOption of canceleds; trackBy: trackCanceledById">{{canceledOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
