<div>
    <h2>
        <span jhiTranslate="tickApp.pageTable.home.title">Page Tables</span>
        <button class="btn btn-primary float-right jh-create-entity create-page-table-tick" [routerLink]="['/', { outlets: { popup: ['page-table-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.pageTable.home.createLabel">
            Create new Page Table
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pageTables">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pageName"><span jhiTranslate="tickApp.pageTable.pageName">Page Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pageTitle"><span jhiTranslate="tickApp.pageTable.pageTitle">Page Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pageInfo"><span jhiTranslate="tickApp.pageTable.pageInfo">Page Info</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="content"><span jhiTranslate="tickApp.pageTable.content">Content</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pageTable of pageTables ;trackBy: trackId">
                <td><a [routerLink]="['../page-table-tick', pageTable.id ]">{{pageTable.id}}</a></td>
                <td>{{pageTable.pageName}}</td>
                <td>{{pageTable.pageTitle}}</td>
                <td>{{pageTable.pageInfo}}</td>
                <td>{{pageTable.content}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../page-table-tick', pageTable.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'page-table-tick/'+ pageTable.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'page-table-tick/'+ pageTable.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="pageTables && pageTables.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
