<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPageTableLabel" jhiTranslate="tickApp.pageTable.home.createOrEditLabel">Create or edit a Page Table</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pageTable.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pageTable.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.pageTable.pageName" for="field_pageName">Page Name</label>
            <input type="text" class="form-control" name="pageName" id="field_pageName"
                [(ngModel)]="pageTable.pageName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.pageTable.pageTitle" for="field_pageTitle">Page Title</label>
            <input type="text" class="form-control" name="pageTitle" id="field_pageTitle"
                [(ngModel)]="pageTable.pageTitle"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.pageTable.pageInfo" for="field_pageInfo">Page Info</label>
            <input type="text" class="form-control" name="pageInfo" id="field_pageInfo"
                [(ngModel)]="pageTable.pageInfo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.pageTable.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                [(ngModel)]="pageTable.content"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
