
<div *ngIf="pageTable">
    <h2><span jhiTranslate="tickApp.pageTable.detail.title">Page Table</span> {{pageTable.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.pageTable.pageName">Page Name</span></dt>
        <dd>
            <span>{{pageTable.pageName}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.pageTable.pageTitle">Page Title</span></dt>
        <dd>
            <span>{{pageTable.pageTitle}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.pageTable.pageInfo">Page Info</span></dt>
        <dd>
            <span>{{pageTable.pageInfo}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.pageTable.content">Content</span></dt>
        <dd>
            <span>{{pageTable.content}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'page-table-tick/'+ pageTable.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
