
<div *ngIf="review">
    <h2><span jhiTranslate="tickApp.review.detail.title">Review</span> {{review.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.review.rating">Rating</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.Rating.' + review.rating}}">{{review.rating}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.review.reviewText">Review Text</span></dt>
        <dd>
            <span>{{review.reviewText}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.review.reviewDate">Review Date</span></dt>
        <dd>
            <span>{{review.reviewDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.review.completed">Completed</span></dt>
        <dd>
            <div *ngIf="review.completedId">
                <a [routerLink]="['/completed-tick', review.completedId]">{{review.completedId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.review.sysUser">Sys User</span></dt>
        <dd>
            <div *ngIf="review.sysUserId">
                <a [routerLink]="['/sys-user-tick', review.sysUserId]">{{review.sysUserLogin}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.review.business">Business</span></dt>
        <dd>
            <div *ngIf="review.businessId">
                <a [routerLink]="['/business-tick', review.businessId]">{{review.businessBusinessName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'review-tick/'+ review.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
