<div>
    <h2>
        <span jhiTranslate="tickApp.review.home.title">Reviews</span>
        <button class="btn btn-primary float-right jh-create-entity create-review-tick" [routerLink]="['/', { outlets: { popup: ['review-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.review.home.createLabel">
            Create new Review
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="reviews">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rating"><span jhiTranslate="tickApp.review.rating">Rating</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reviewText"><span jhiTranslate="tickApp.review.reviewText">Review Text</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reviewDate"><span jhiTranslate="tickApp.review.reviewDate">Review Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="completedId"><span jhiTranslate="tickApp.review.completed">Completed</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sysUserLogin"><span jhiTranslate="tickApp.review.sysUser">Sys User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="businessBusinessName"><span jhiTranslate="tickApp.review.business">Business</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let review of reviews ;trackBy: trackId">
                <td><a [routerLink]="['../review-tick', review.id ]">{{review.id}}</a></td>
                <td jhiTranslate="{{'tickApp.Rating.' + review.rating}}">{{review.rating}}</td>
                <td>{{review.reviewText}}</td>
                <td>{{review.reviewDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="review.completedId">
                        <a [routerLink]="['../completed-tick', review.completedId  ]" >{{review.completedId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="review.sysUserId">
                        <a [routerLink]="['../sys-user-tick', review.sysUserId  ]" >{{review.sysUserLogin}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="review.businessId">
                        <a [routerLink]="['../business-tick', review.businessId  ]" >{{review.businessBusinessName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../review-tick', review.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'review-tick/'+ review.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'review-tick/'+ review.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="reviews && reviews.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
