<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myReviewLabel" jhiTranslate="tickApp.review.home.createOrEditLabel">Create or edit a Review</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!review.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="review.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.review.rating" for="field_rating">Rating</label>
            <select class="form-control" name="rating" [(ngModel)]="review.rating" id="field_rating" >
                <option value="ONE" jhiTranslate="tickApp.Rating.ONE">ONE</option>
                <option value="TWO" jhiTranslate="tickApp.Rating.TWO">TWO</option>
                <option value="THREE" jhiTranslate="tickApp.Rating.THREE">THREE</option>
                <option value="FOUR" jhiTranslate="tickApp.Rating.FOUR">FOUR</option>
                <option value="FIVE" jhiTranslate="tickApp.Rating.FIVE">FIVE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.review.reviewText" for="field_reviewText">Review Text</label>
            <input type="text" class="form-control" name="reviewText" id="field_reviewText"
                [(ngModel)]="review.reviewText" required />
            <div [hidden]="!(editForm.controls.reviewText?.dirty && editForm.controls.reviewText?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.reviewText?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.review.reviewDate" for="field_reviewDate">Review Date</label>
            <div class="input-group">
                <input id="field_reviewDate" type="text" class="form-control" name="reviewDate" ngbDatepicker  #reviewDateDp="ngbDatepicker" [(ngModel)]="review.reviewDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="reviewDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="tickApp.review.completed" for="field_completed">Completed</label>
            <select class="form-control" id="field_completed" name="completed" [(ngModel)]="review.completedId">
                <option [ngValue]="null"></option>
                <option [ngValue]="completedOption.id" *ngFor="let completedOption of completeds; trackBy: trackCompletedById">{{completedOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.review.sysUser" for="field_sysUser">Sys User</label>
            <select class="form-control" id="field_sysUser" name="sysUser" [(ngModel)]="review.sysUserId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sysUserOption.id" *ngFor="let sysUserOption of sysusers; trackBy: trackSysUserById">{{sysUserOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.review.business" for="field_business">Business</label>
            <select class="form-control" id="field_business" name="business" [(ngModel)]="review.businessId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="businessOption.id" *ngFor="let businessOption of businesses; trackBy: trackBusinessById">{{businessOption.businessName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
