
<div *ngIf="pushInfo">
    <h2><span jhiTranslate="tickApp.pushInfo.detail.title">Push Info</span> {{pushInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.pushInfo.username">Username</span></dt>
        <dd>
            <span>{{pushInfo.username}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.pushInfo.password">Password</span></dt>
        <dd>
            <span>{{pushInfo.password}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'push-info-tick/'+ pushInfo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
