<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBidLabel" jhiTranslate="tickApp.bid.home.createOrEditLabel">Create or edit a Bid</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bid.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bid.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.bid.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="bid.price"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.bid.timeToFinish" for="field_timeToFinish">Time To Finish</label>
            <div class="input-group">
                <input id="field_timeToFinish" type="text" class="form-control" name="timeToFinish" ngbDatepicker  #timeToFinishDp="ngbDatepicker" [(ngModel)]="bid.timeToFinish"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="timeToFinishDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.timeToFinish?.dirty && editForm.controls.timeToFinish?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.timeToFinish?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.bid.bidTime" for="field_bidTime">Bid Time</label>
            <div class="input-group">
                <input id="field_bidTime" type="text" class="form-control" name="bidTime" ngbDatepicker  #bidTimeDp="ngbDatepicker" [(ngModel)]="bid.bidTime"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="bidTimeDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.bid.message" for="field_message">Message</label>
            <input type="text" class="form-control" name="message" id="field_message"
                [(ngModel)]="bid.message" required />
            <div [hidden]="!(editForm.controls.message?.dirty && editForm.controls.message?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.message?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="tickApp.bid.bidding" for="field_bidding">Bidding</label>
            <select class="form-control" id="field_bidding" name="bidding" [(ngModel)]="bid.biddingId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="biddingOption.id" *ngFor="let biddingOption of biddings; trackBy: trackBiddingById">{{biddingOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.bid.sysUser" for="field_sysUser">Sys User</label>
            <select class="form-control" id="field_sysUser" name="sysUser" [(ngModel)]="bid.sysUserId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sysUserOption.id" *ngFor="let sysUserOption of sysusers; trackBy: trackSysUserById">{{sysUserOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
