<div>
    <h2>
        <span jhiTranslate="tickApp.bid.home.title">Bids</span>
        <button class="btn btn-primary float-right jh-create-entity create-bid-tick" [routerLink]="['/', { outlets: { popup: ['bid-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.bid.home.createLabel">
            Create new Bid
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bids">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="tickApp.bid.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="timeToFinish"><span jhiTranslate="tickApp.bid.timeToFinish">Time To Finish</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bidTime"><span jhiTranslate="tickApp.bid.bidTime">Bid Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="message"><span jhiTranslate="tickApp.bid.message">Message</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="biddingId"><span jhiTranslate="tickApp.bid.bidding">Bidding</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sysUserId"><span jhiTranslate="tickApp.bid.sysUser">Sys User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bid of bids ;trackBy: trackId">
                <td><a [routerLink]="['../bid-tick', bid.id ]">{{bid.id}}</a></td>
                <td>{{bid.price}}</td>
                <td>{{bid.timeToFinish | date:'mediumDate'}}</td>
                <td>{{bid.bidTime | date:'mediumDate'}}</td>
                <td>{{bid.message}}</td>
                <td>
                    <div *ngIf="bid.biddingId">
                        <a [routerLink]="['../bidding-tick', bid.biddingId  ]" >{{bid.biddingId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bid.sysUserId">
                        <a [routerLink]="['../sys-user-tick', bid.sysUserId  ]" >{{bid.sysUserId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bid-tick', bid.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bid-tick/'+ bid.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bid-tick/'+ bid.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="bids && bids.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
