
<div *ngIf="bid">
    <h2><span jhiTranslate="tickApp.bid.detail.title">Bid</span> {{bid.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.bid.price">Price</span></dt>
        <dd>
            <span>{{bid.price}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.bid.timeToFinish">Time To Finish</span></dt>
        <dd>
            <span>{{bid.timeToFinish | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.bid.bidTime">Bid Time</span></dt>
        <dd>
            <span>{{bid.bidTime | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.bid.message">Message</span></dt>
        <dd>
            <span>{{bid.message}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.bid.bidding">Bidding</span></dt>
        <dd>
            <div *ngIf="bid.biddingId">
                <a [routerLink]="['/bidding-tick', bid.biddingId]">{{bid.biddingId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.bid.sysUser">Sys User</span></dt>
        <dd>
            <div *ngIf="bid.sysUserId">
                <a [routerLink]="['/sys-user-tick', bid.sysUserId]">{{bid.sysUserId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bid-tick/'+ bid.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
