
<div *ngIf="creditInfo">
    <h2><span jhiTranslate="tickApp.creditInfo.detail.title">Credit Info</span> {{creditInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.creditInfo.credit">Credit</span></dt>
        <dd>
            <span>{{creditInfo.credit}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.creditInfo.method">Method</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.PaymentMethod.' + creditInfo.method}}">{{creditInfo.method}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'credit-info-tick/'+ creditInfo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
