<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCreditInfoLabel" jhiTranslate="tickApp.creditInfo.home.createOrEditLabel">Create or edit a Credit Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!creditInfo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="creditInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.creditInfo.credit" for="field_credit">Credit</label>
            <input type="number" class="form-control" name="credit" id="field_credit"
                [(ngModel)]="creditInfo.credit"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.creditInfo.method" for="field_method">Method</label>
            <select class="form-control" name="method" [(ngModel)]="creditInfo.method" id="field_method" >
                <option value="ALL" jhiTranslate="tickApp.PaymentMethod.ALL">ALL</option>
                <option value="CASH" jhiTranslate="tickApp.PaymentMethod.CASH">CASH</option>
                <option value="BANK_TRANSFER" jhiTranslate="tickApp.PaymentMethod.BANK_TRANSFER">BANK_TRANSFER</option>
                <option value="PAYPAL" jhiTranslate="tickApp.PaymentMethod.PAYPAL">PAYPAL</option>
                <option value="GOOGLE_WALLET" jhiTranslate="tickApp.PaymentMethod.GOOGLE_WALLET">GOOGLE_WALLET</option>
                <option value="BITCOIN" jhiTranslate="tickApp.PaymentMethod.BITCOIN">BITCOIN</option>
                <option value="MOBILE" jhiTranslate="tickApp.PaymentMethod.MOBILE">MOBILE</option>
                <option value="PAYOO" jhiTranslate="tickApp.PaymentMethod.PAYOO">PAYOO</option>
                <option value="POST" jhiTranslate="tickApp.PaymentMethod.POST">POST</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
