
<div *ngIf="service">
    <h2><span jhiTranslate="tickApp.service.detail.title">Service</span> {{service.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.service.name">Name</span></dt>
        <dd>
            <span>{{service.name}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.service.desc">Desc</span></dt>
        <dd>
            <span>{{service.desc}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.service.restricted">Restricted</span></dt>
        <dd>
            <span>{{service.restricted}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.service.providerCount">Provider Count</span></dt>
        <dd>
            <span>{{service.providerCount}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.service.promotion">Promotion</span></dt>
        <dd>
            <span *ngFor="let promotion of service.promotions; let last = last">
                <a [routerLink]="['/promotion-tick', promotion?.id ]">{{promotion.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="tickApp.service.fee">Fee</span></dt>
        <dd>
            <div *ngIf="service.feeId">
                <a [routerLink]="['/fee-tick', service.feeId]">{{service.feeId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'service-tick/'+ service.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
