<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myServiceLabel" jhiTranslate="tickApp.service.home.createOrEditLabel">Create or edit a Service</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!service.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="service.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.service.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="service.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.service.desc" for="field_desc">Desc</label>
            <input type="text" class="form-control" name="desc" id="field_desc"
                [(ngModel)]="service.desc"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.service.restricted" for="field_restricted">Restricted</label>
            <input type="checkbox" class="form-control" name="restricted" id="field_restricted"
                [(ngModel)]="service.restricted"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.service.providerCount" for="field_providerCount">Provider Count</label>
            <input type="number" class="form-control" name="providerCount" id="field_providerCount"
                [(ngModel)]="service.providerCount"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="tickApp.service.promotion" for="field_promotion">Promotion</label>
            <select class="form-control" id="field_promotion" multiple name="promotion" [(ngModel)]="service.promotions">
                <option [ngValue]="getSelected(service.promotions, promotionOption)" *ngFor="let promotionOption of promotions; trackBy: trackPromotionById">{{promotionOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.service.fee" for="field_fee">Fee</label>
            <select class="form-control" id="field_fee" name="fee" [(ngModel)]="service.feeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="feeOption.id" *ngFor="let feeOption of fees; trackBy: trackFeeById">{{feeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
