<div>
    <h2>
        <span jhiTranslate="tickApp.service.home.title">Services</span>
        <button class="btn btn-primary float-right jh-create-entity create-service-tick" [routerLink]="['/', { outlets: { popup: ['service-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.service.home.createLabel">
            Create new Service
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="services">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="tickApp.service.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="desc"><span jhiTranslate="tickApp.service.desc">Desc</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="restricted"><span jhiTranslate="tickApp.service.restricted">Restricted</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="providerCount"><span jhiTranslate="tickApp.service.providerCount">Provider Count</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="feeId"><span jhiTranslate="tickApp.service.fee">Fee</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let service of services ;trackBy: trackId">
                <td><a [routerLink]="['../service-tick', service.id ]">{{service.id}}</a></td>
                <td>{{service.name}}</td>
                <td>{{service.desc}}</td>
                <td>{{service.restricted}}</td>
                <td>{{service.providerCount}}</td>
                <td>
                    <div *ngIf="service.feeId">
                        <a [routerLink]="['../fee-tick', service.feeId  ]" >{{service.feeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../service-tick', service.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'service-tick/'+ service.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'service-tick/'+ service.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="services && services.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
