<div>
    <h2>
        <span jhiTranslate="tickApp.bidding.home.title">Biddings</span>
        <button class="btn btn-primary float-right jh-create-entity create-bidding-tick" [routerLink]="['/', { outlets: { popup: ['bidding-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.bidding.home.createLabel">
            Create new Bidding
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="biddings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="closingDate"><span jhiTranslate="tickApp.bidding.closingDate">Closing Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="biddersCount"><span jhiTranslate="tickApp.bidding.biddersCount">Bidders Count</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jobTemplateId"><span jhiTranslate="tickApp.bidding.jobTemplate">Job Template</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bidding of biddings ;trackBy: trackId">
                <td><a [routerLink]="['../bidding-tick', bidding.id ]">{{bidding.id}}</a></td>
                <td>{{bidding.closingDate | date:'mediumDate'}}</td>
                <td>{{bidding.biddersCount}}</td>
                <td>
                    <div *ngIf="bidding.jobTemplateId">
                        <a [routerLink]="['../job-template-tick', bidding.jobTemplateId  ]" >{{bidding.jobTemplateId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bidding-tick', bidding.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bidding-tick/'+ bidding.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bidding-tick/'+ bidding.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="biddings && biddings.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
