
<div *ngIf="bidding">
    <h2><span jhiTranslate="tickApp.bidding.detail.title">Bidding</span> {{bidding.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.bidding.closingDate">Closing Date</span></dt>
        <dd>
            <span>{{bidding.closingDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.bidding.biddersCount">Bidders Count</span></dt>
        <dd>
            <span>{{bidding.biddersCount}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.bidding.jobTemplate">Job Template</span></dt>
        <dd>
            <div *ngIf="bidding.jobTemplateId">
                <a [routerLink]="['/job-template-tick', bidding.jobTemplateId]">{{bidding.jobTemplateId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bidding-tick/'+ bidding.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
