
<div *ngIf="jobTemplate">
    <h2><span jhiTranslate="tickApp.jobTemplate.detail.title">Job Template</span> {{jobTemplate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tickApp.jobTemplate.address">Address</span></dt>
        <dd>
            <span>{{jobTemplate.address}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.jobTemplate.paymentMethod">Payment Method</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.PaymentMethod.' + jobTemplate.paymentMethod}}">{{jobTemplate.paymentMethod}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.jobTemplate.requirement">Requirement</span></dt>
        <dd>
            <span jhiTranslate="{{'tickApp.JobRequirement.' + jobTemplate.requirement}}">{{jobTemplate.requirement}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.jobTemplate.formFillIn">Form Fill In</span></dt>
        <dd>
            <span>{{jobTemplate.formFillIn}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.jobTemplate.createDate">Create Date</span></dt>
        <dd>
            <span>{{jobTemplate.createDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.jobTemplate.startDate">Start Date</span></dt>
        <dd>
            <span>{{jobTemplate.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tickApp.jobTemplate.service">Service</span></dt>
        <dd>
            <div *ngIf="jobTemplate.serviceId">
                <a [routerLink]="['/service-tick', jobTemplate.serviceId]">{{jobTemplate.serviceId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tickApp.jobTemplate.sysUser">Sys User</span></dt>
        <dd>
            <div *ngIf="jobTemplate.sysUserId">
                <a [routerLink]="['/sys-user-tick', jobTemplate.sysUserId]">{{jobTemplate.sysUserLogin}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'job-template-tick/'+ jobTemplate.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
