<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJobTemplateLabel" jhiTranslate="tickApp.jobTemplate.home.createOrEditLabel">Create or edit a Job Template</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!jobTemplate.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="jobTemplate.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.jobTemplate.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="jobTemplate.address"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.jobTemplate.paymentMethod" for="field_paymentMethod">Payment Method</label>
            <select class="form-control" name="paymentMethod" [(ngModel)]="jobTemplate.paymentMethod" id="field_paymentMethod" >
                <option value="ALL" jhiTranslate="tickApp.PaymentMethod.ALL">ALL</option>
                <option value="CASH" jhiTranslate="tickApp.PaymentMethod.CASH">CASH</option>
                <option value="BANK_TRANSFER" jhiTranslate="tickApp.PaymentMethod.BANK_TRANSFER">BANK_TRANSFER</option>
                <option value="PAYPAL" jhiTranslate="tickApp.PaymentMethod.PAYPAL">PAYPAL</option>
                <option value="GOOGLE_WALLET" jhiTranslate="tickApp.PaymentMethod.GOOGLE_WALLET">GOOGLE_WALLET</option>
                <option value="BITCOIN" jhiTranslate="tickApp.PaymentMethod.BITCOIN">BITCOIN</option>
                <option value="MOBILE" jhiTranslate="tickApp.PaymentMethod.MOBILE">MOBILE</option>
                <option value="PAYOO" jhiTranslate="tickApp.PaymentMethod.PAYOO">PAYOO</option>
                <option value="POST" jhiTranslate="tickApp.PaymentMethod.POST">POST</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.jobTemplate.requirement" for="field_requirement">Requirement</label>
            <select class="form-control" name="requirement" [(ngModel)]="jobTemplate.requirement" id="field_requirement" >
                <option value="INTERVIEW" jhiTranslate="tickApp.JobRequirement.INTERVIEW">INTERVIEW</option>
                <option value="ONLINE" jhiTranslate="tickApp.JobRequirement.ONLINE">ONLINE</option>
                <option value="OFFLINE_NO_INTERVIEW" jhiTranslate="tickApp.JobRequirement.OFFLINE_NO_INTERVIEW">OFFLINE_NO_INTERVIEW</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.jobTemplate.formFillIn" for="field_formFillIn">Form Fill In</label>
            <input type="text" class="form-control" name="formFillIn" id="field_formFillIn"
                [(ngModel)]="jobTemplate.formFillIn"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.jobTemplate.createDate" for="field_createDate">Create Date</label>
            <div class="input-group">
                <input id="field_createDate" type="text" class="form-control" name="createDate" ngbDatepicker  #createDateDp="ngbDatepicker" [(ngModel)]="jobTemplate.createDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tickApp.jobTemplate.startDate" for="field_startDate">Start Date</label>
            <div class="input-group">
                <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="jobTemplate.startDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.startDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="tickApp.jobTemplate.service" for="field_service">Service</label>
            <select class="form-control" id="field_service" name="service" [(ngModel)]="jobTemplate.serviceId">
                <option [ngValue]="null"></option>
                <option [ngValue]="serviceOption.id" *ngFor="let serviceOption of services; trackBy: trackServiceById">{{serviceOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tickApp.jobTemplate.sysUser" for="field_sysUser">Sys User</label>
            <select class="form-control" id="field_sysUser" name="sysUser" [(ngModel)]="jobTemplate.sysUserId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sysUserOption.id" *ngFor="let sysUserOption of sysusers; trackBy: trackSysUserById">{{sysUserOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
