<div>
    <h2>
        <span jhiTranslate="tickApp.jobTemplate.home.title">Job Templates</span>
        <button class="btn btn-primary float-right jh-create-entity create-job-template-tick" [routerLink]="['/', { outlets: { popup: ['job-template-tick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tickApp.jobTemplate.home.createLabel">
            Create new Job Template
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jobTemplates">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address"><span jhiTranslate="tickApp.jobTemplate.address">Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentMethod"><span jhiTranslate="tickApp.jobTemplate.paymentMethod">Payment Method</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="requirement"><span jhiTranslate="tickApp.jobTemplate.requirement">Requirement</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="formFillIn"><span jhiTranslate="tickApp.jobTemplate.formFillIn">Form Fill In</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createDate"><span jhiTranslate="tickApp.jobTemplate.createDate">Create Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span jhiTranslate="tickApp.jobTemplate.startDate">Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="serviceId"><span jhiTranslate="tickApp.jobTemplate.service">Service</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sysUserLogin"><span jhiTranslate="tickApp.jobTemplate.sysUser">Sys User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobTemplate of jobTemplates ;trackBy: trackId">
                <td><a [routerLink]="['../job-template-tick', jobTemplate.id ]">{{jobTemplate.id}}</a></td>
                <td>{{jobTemplate.address}}</td>
                <td jhiTranslate="{{'tickApp.PaymentMethod.' + jobTemplate.paymentMethod}}">{{jobTemplate.paymentMethod}}</td>
                <td jhiTranslate="{{'tickApp.JobRequirement.' + jobTemplate.requirement}}">{{jobTemplate.requirement}}</td>
                <td>{{jobTemplate.formFillIn}}</td>
                <td>{{jobTemplate.createDate | date:'mediumDate'}}</td>
                <td>{{jobTemplate.startDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="jobTemplate.serviceId">
                        <a [routerLink]="['../service-tick', jobTemplate.serviceId  ]" >{{jobTemplate.serviceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobTemplate.sysUserId">
                        <a [routerLink]="['../sys-user-tick', jobTemplate.sysUserId  ]" >{{jobTemplate.sysUserLogin}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../job-template-tick', jobTemplate.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-template-tick/'+ jobTemplate.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-template-tick/'+ jobTemplate.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="jobTemplates && jobTemplates.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
